<!-- brands -->
<div class="padding-t-100">
    <div class="container margin-b-50">
        <div class="heading font-f-simplifica">Brands Served</div>
    </div>
    <div class="image-grid image-grid--brand image-grid--flex image-grid--container">
        <div class="image-grid__item white">
            <img src="/img/logo-tetra.svg" class="image-grid__img brand-tetra">
        </div>
        <div class="image-grid__item grey">
            <img src="/img/logo-optimalblue.svg" class="image-grid__img brand-optimal">
        </div>
        <div class="image-grid__item grey">
            <img src="/img/logo-kickbox.svg" class="image-grid__img brand-kickbox">
        </div>
        <div class="image-grid__item white">
            <img src="/img/logo-adestra.svg" class="image-grid__img brand-adestra">
        </div>
        <div class="image-grid__item white">
            <img src="/img/logo-muv.svg" class="image-grid__img brand-muv">
        </div>
        <div class="image-grid__item grey">
            <img src="/img/logo-immerss.svg" class="image-grid__img brand-immerss">
        </div>
        <div class="image-grid__item grey">
            <img src="/img/logo-techwildcatters.svg" class="image-grid__img brand-techwildcatters">
        </div>
        <div class="image-grid__item white">
            <img src="/img/logo-mydirectives.svg" class="image-grid__img brand-mydirectives">
        </div>
        <div class="image-grid__item white">
            <img src="/img/logo-sunstone.svg" class="image-grid__img brand-sunstone">
        </div>
        <div class="image-grid__item grey">
            <img src="/img/logo-cibodivino.svg" class="image-grid__img brand-cibodivino">
        </div>
    </div>
</div>
<!-- brands -->