<!-- footer -->
<div class="footer background-c-teal1">
    <!-- footer__wrap -->
    <div class="footer__wrap">
        <div class="footer__img" style="background: url(/img/banner-footer.jpg) no-repeat center / cover"></div>
        <div class="footer__contact">
            <div class="footer__form">
                <div id="form-messages"></div>
                <form id="newsletter-form" method="post" action="newsletter">
                    <div class="heading font-f-simplifica font-c-white margin-b-10 flex relative">Sign up for our newsletter
                        <div id="spinner" style="width:20px; height:20px; position:absolute; right:15px; top:25px; display:none;"></div>
                    </div>
                    <div class="margin-b-20">
                        <input type="text" class="footer__form-txt font-s-s" name="name" id="name" placeholder="Enter name">
                    </div>
                    <div class="relative margin-b-20">
                        <input type="email" class="footer__form-txt font-s-s" name="email" id="email" placeholder="Enter email">
                        <button class="footer__form-btn-icon" type="submit"> <svg class="icon icon--l" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <use class="icon__white" xlink:href="#ic-arrow-right-nb" />
                        </svg> </button>
                    </div>
                </form>
            </div>
            <div class="footer__address margin-b-20">
                <div class="font-f-sansation font-c-white margin-b-10">Studio</div>
                <div class="font-c-white font-s-l margin-b-20">2242 Monitor Street Suite #110 Dallas, TX 75207</div>
                <div class="margin-b-20"><a href="mailto:hello@simplemedia.co" class="font-c-white">hello@simplemedia.co</a></div>
                <div><a href="tel:2147852420" class="font-c-white">214.785.2420</a></div>
            </div>
            <div class="footer__social margin-b-30"> <a class="footer__social-button" target="_blank" href="https://www.facebook.com/simplemediallc/"> <svg class="icon icon--l" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <use class="icon__white" xlink:href="#ic-fb" />
            </svg> </a> <a class="footer__social-button" target="_blank" href="https://www.instagram.com/simplemediaco/"> <svg class="icon icon--l" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <use class="icon__white" xlink:href="#ic-instagram" />
            </svg> </a> <a class="footer__social-button" target="_blank" href="https://twitter.com/simplemediaco"> <svg class="icon icon--l" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <use class="icon__white" xlink:href="#ic-twitter" />
            </svg> </a> <a class="footer__social-button" target="_blank" href="https://www.linkedin.com/company/simple-media-llc"> <svg class="icon icon--l" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <use class="icon__white" xlink:href="#ic-in" />
            </svg> </a> </div>
            <ul class="footer__menu">
                <li class="margin-b-10"><a href="/terms" class="font-c-white footer__menu-link font-s-xs">Terms of Service</a></li>
                <li class="margin-b-10"><a href="privacy-policy" class="font-c-white footer__menu-link font-s-xs">Privacy Policy</a></li>
            </ul>
            <div class="footer__copyright font-c-white font-s-xs">©2016 <a href="<?php echo $baseURL; ?>" class="font-c-white">Simple Media LLC</a></div>
        </div>
    </div>
    <!-- footer__wrap -->
</div>
<!-- footer -->

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="https://npmcdn.com/isotope-layout@3.0/dist/isotope.pkgd.min.js"></script>
<script type="text/javascript" src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.4/typed.min.js"></script>
<script type="text/javascript" src="/rangeslider-pure/dist/rangeSlider.min.js"></script>
<script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
</body>
</html>