<!-- navigation -->
<div class="navigation">
    <div class="container navigation__wrap">
        <a href="/" class="navigation__logo {{ color }}">
            {{{ cosmic.object.header.metafield.site_logo.value }}}
        </a>
        <button class="navigation__hamburger {{ color }} js"><span></span></button>
    </div>
    <div class="navigation__menu js">
        <ul class="navigation__menu-wrap">
            {{# cosmic.object.nav-items.metafields }}
            <li class="navigation__menu-item"><a href="/{{ value }}/" class="navigation__menu-link font-f-simplifica font-c-white">{{ title }}</a></li>
            {{/ cosmic.object.nav-items.metafields }}
        </ul>
    </div>
</div>
<!-- navigation -->