/**
 * BUTTON
 */

/**
 * Basic button
 */
.button {
	background-color: transparent;
	border: 0;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	line-height: 1;
	outline: none;
	padding: 10px 30px;
}

/**
 * Bordered button
 */
.button--b {
	border: 1px solid $grey1;
}

.button--b-teal1 {
	border: 1px solid $teal1;
}

/**
 * Button colors
 */
.button--c-teal1 {
	border-color: $teal1;
	color: $teal1;
	@include vendor(transition, background-color 0.3s);

	&:hover {
		background-color: $teal1;
		color: $white;
	}
}