/**
 * button with icon
 */

.button-icon {
	display: inline-block;

	&:hover .button-icon__label::before {
		@include vendor(transform, translateX(0));
	}
}

.button-icon__wrap {
	margin-left: -4px;
	@include vendor(display, flex);
	@include vendor(align-items, center);

	.icon {
		position: relative;
	}

	.icon.animate {
		top: -1px;
		@include vendor(animation, left-right 1s infinite);
	}
}

.button-icon__label {
	overflow: hidden;
	position: relative;
	margin-left: 10px;

	&::before {
		background-color: $teal1;
		content: "";
		height: 1px;
		width: 100%;
		position: absolute;
		left: 0;
		bottom: 0;
		@include vendor(transition, transform 0.3s);
		@include vendor(transform, translateX(-101%));
	}
}

@keyframes left-right {
	0% {
		transform: translateX(0);
		@include vendor(transform, translateX(0))
	}
	50% {
		@include vendor(transform, translateX(6px))
	}
	100% {
		@include vendor(transform, translateX(0))
	}
}

@-webkit-keyframes left-right {
	0% {
		transform: translateX(0);
		@include vendor(transform, translateX(0))
	}
	50% {
		@include vendor(transform, translateX(6px))
	}
	100% {
		@include vendor(transform, translateX(0))
	}
}