/**
 * HEADING
 */

 .heading {
	font-size: 36px;

	&--work {
		line-height: 1;
		padding-top: 50px;
		padding-bottom: 44px;
	}
 }

 // tablet view
 @media (min-width: $lap-start) {
 	.heading {
 		font-size: 48px;
 	}
 }