/**
 * TEXTFIELD
 */

.textfield {
	border: 0;
	padding: 13px;
	height: 44px;
	outline: none;
	width: 100%;
	font-size: $font-s-xs;
}

.textfield--area {
	height: 200px;
	resize: none;
}

/**
 * textfield-icon
 */
.textfield-icon {
	position: relative;
}

.textfield-icon__item {
	position: absolute;
	right: 10px;
	top: 50%;
	@include vendor(transform, translateY(-50%));
}