/**
 * ADD MORE PAGE
 */

.add-more-page__label {
	font-size: 16px;
}

.add-more-page__item {
	margin-top: 16px;
	@include vendor(display, flex);
	@include vendor(align-items, center);
}

.add-more-page__minus {
	margin-left: 10px;
	border: 1px solid $teal1;
	cursor: pointer;
	background-color: transparent;
	outline: none;
	display: inline-block;
	width: 20px;
	height: 20px;
	position: relative;
	@include vendor(flex, none);

	&::before {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		height: 1px;
		width: 9px;
		background-color: $teal1;
		@include vendor(transform, translate(-50%, -50%));
	}
}

.add-more-page__txt {
	border: 0;
	padding: 13px;
	height: 44px;
	margin-top: 16px;
	width: 100%;
	outline: none;
	color: $grey3;
	font-size: $font-s-xs;

	&.item {
		margin-top: 0;
	}
}

.add-more-page__button {
	cursor: pointer;
	outline: none;
	background-color: transparent;
	padding: 6px 0;
	margin: 0;
	border: 0;
	font-family: $sansation-bold;
	font-size: $font-s-xs;
	color: $teal1;
	margin-top: 16px;
	@include vendor(display, flex);
	@include vendor(align-items, center);

	span {
		border: 1px solid $teal1;
		display: inline-block;
		width: 20px;
		height: 20px;
		position: relative;
		margin-right: 10px;
	}

	span::before,
	span::after {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		display: block;
		background-color: $teal1;
		@include vendor(transform, translate(-50%, -50%));
	}

	span::before {
		height: 1px;
		width: 9px;
	}

	span::after {
		height: 9px;
		width: 1px;
	}
}