/**
 * BANNER
 */

.banner {
	position: relative;
	overflow: hidden;
	height: 100vh;
	@include vendor(transition, all 0.5s);
}

.banner__wrap {
	position: relative;
	z-index: 100;
	height: 100%;
}

.banner__video {
	width: 100%;
	height: 100vh;
	position: absolute;
	opacity: 0.5;

	video {
		position: absolute;
		width: auto;
		height: 100vh;
		left: 50%;
		top: 50%;
		@include vendor(transform, translate(-50%, -50%));
	}
}

.banner__wrap-nav {
	position: absolute;
	bottom: 100px;
	left: 0;
	padding: 0 16px;
	width: 100%;

	&.works {
		bottom: 120px;
	}
}

.banner__logo-text {
	width: 240px;
	margin-bottom: 20px;
	height: auto;
}

.banner__wrap-nav--order {
	bottom: 30px;
}

.banner__img {
	width: 90%;
	position: absolute;
	top: 40%;
	left: 50%;
	max-width: none;
	@include vendor(transform, translate(-50%, -50%));
}

.banner__bg {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	background: url(../img/banner-brand.svg) left top;

	&.white {
		opacity: 0.08;
	}

	&.development {
		background: url(../img/banner-development.svg) left top;
	}

	&.marketing {
		background: url(../img/banner-marketing.svg) left top;
	}
}

.banner__item {
	float: left;
	width: 100%;
}

.banner__label {
	margin-bottom: 8px;
}

.banner__title-centered {
	max-width: 960px;
	width: 100%;
	padding: 0 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	@include vendor(transform, translate(-50%, -50%));
}

.banner__typed {
	display: inline-block;
}

.banner__title {
	font-size: 48px;
	line-height: 1;

	.banner__title-span {
		display: block;
	}
}

.banner__scroll {
	cursor: pointer;
	position: absolute;
	bottom: 30px;
	left: 50%;
	z-index: 100;
	@include vendor(transform, translateX(-50%));
}

.banner__illustration {
	width: 100px;
}

// tablet view
@media (min-width: $lap-start) {
	.banner__label {
		font-size: 24px;
	}

	.banner__logo-text {
		width: auto;
		margin-bottom: 30px;
	}

	.banner__title {
		font-size: 72px;

		.banner__title-span {
			display: inline;
		}
	}

	.banner__wrap-nav {
		bottom: 160px;
	}

	.banner__illustration {
		width: 220px;
	}
}

// desktop view
@media (min-width: $desk-start) {
	.banner__img {
		width: 50%;
	}
}

@media (min-width: $desk-wide-start) {
	.banner__video {
		video {
			width: 120%;
			height: auto;			
		}
	}
}