// tablet view
@media (min-width: $lap-start) {
	.brand-tetra,
	.brand-sunstone,
	.brand-cibodivino {
		width: 160px;
	}

	.brand-optimal,
	.brand-techwildcatters,
	.brand-mydirectives {
		width: 260px;
	}

	.brand-kickbox,
	.brand-adestra,
	.brand-muv,
	.brand-immerss {
		width: 200px;
	}
}

@media (min-width: $desk-start) {
	.brand-tetra,
	.brand-sunstone,
	.brand-cibodivino {
		width: 90px;
	}

	.brand-optimal,
	.brand-techwildcatters,
	.brand-mydirectives {
		width: 160px;
	}

	.brand-kickbox,
	.brand-adestra,
	.brand-muv,
	.brand-immerss {
		width: 120px;
	}
}