/**
 * FOOTER
 */

.footer__form-txt {
	background-color: transparent;
	border: 0;
	border-left: 1px solid $white;
	color: $white;
	padding: 13px 8px;
	outline: none;
	width: 100%;

	&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		color: $teal2;
	}

	&::-moz-placeholder { /* Firefox 19+ */
		color: $teal2;
	}

	&:-ms-input-placeholder { /* IE 10+ */
		color: $teal2;
	}

	&:-moz-placeholder { /* Firefox 18- */
		color: $teal2;
	}
}

.footer__form-btn-icon {
	position:absolute;
	top:0;
	right:0;
	background-color: transparent;
	border: 0;
	padding: 0;
	margin: 0;
	outline: none;
	cursor: pointer;
	width: 48px;
	height: 48px;
	@include vendor(transition, background-color 0.3s);
	@include vendor(border-radius, 100%);
	@include vendor(flex, none);

	&:hover {
		background-color: $white;
	}

	&:hover .icon use {
		stroke: $teal1;
	}
}

.footer__menu {
	list-style: none;
	padding: 0;
}

.footer__menu-link {
	display: inline-block;
}

.footer__img {
	width: 100%;
	height: 400px;
}

.footer__contact {
	padding: 50px 20px;
	max-width: 700px;
}

.footer__social-button {
	display: inline-block;
	width: 34px;
	height: 34px;
	border: 1px solid $white;
	@include vendor(transition, background-color 0.3s);
	@include vendor(border-radius, 100%);

	&:hover {
		background-color: $white;
	}

	&:hover .icon use {
		stroke: $teal1;
	}
}

// tablet view
@media (min-width: $lap-start) {
	.footer__wrap {
		@include vendor(display, flex);
		@include vendor(flex-wrap, wrap);
		@include vendor(align-items, center);
	}

	.footer__img {
		width: 40%;
		height: 760px;
	}

	.footer__contact {
		padding: 50px 20px 50px;
		width: 60%;
	}
}

@media (min-width: $desk-start) {
	.footer__img {
		width: 35%;
		height: 780px;
	}

	.footer__contact {
		width: 65%;
		padding: 80px 20px 80px 100px;
	}
}