/**
 * IMAGE GRID
 */

.no-js .image-grid {
	visibility: hidden;
	opacity: 0;
}

.image-grid {
	width: 100%;
}

.image-grid--container {
	max-width: 1160px;
	width: 100%;
	margin: 0 auto;
}

.image-grid--brand {
	.image-grid__item {
		width: 50%;
		height: 160px;
	}
}

.image-grid__item {
	background-color: $teal1;
	display: block;
	width: 50%;
	position: relative;
	overflow: hidden;

	&--full { width: 100%; }

	&.white {
		background-color: $white;
	}

	&.grey {
		background-color: $grey4;
	}

	&:hover .image-grid__bg-img {
		opacity: 0.2;
		@include vendor(transform, scale(1.2));
	}

	svg {
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 100;
		visibility: hidden;
		opacity: 0;
		width: 40%;
		@include vendor(transform, translate(-50%, -50%) scale(1.2));
		@include vendor(transition, opacity 0.5s, visibility 0.5s, transform 0.5s);
	}

	&:hover svg {
		opacity: 1;
		visibility: visible;
		@include vendor(transform, translate(-50%, -50%) scale(1));
	}
}

.image-grid__bg-img {
	@include vendor(transition, transform 0.5s, opacity 0.5s);
}

.image-grid__img {
	position: absolute;
	top: 50%;
	left: 50%;
	@include vendor(transform, translate(-50%, -50%));
}

/**
 * flex
 */
.image-grid--flex {
	@include vendor(display, flex);
	@include vendor(flex-wrap, wrap);
}

// tablet view
@media (min-width: $lap-start) {
	.image-grid--brand {
		.image-grid__item {
			width: 50%;
			height: 300px;
		}
	}

	.image-grid__item {
		svg {
			width: 80%;
		}
	}
}

// desktop view
@media (min-width: $desk-start) {
	.image-grid--container {
		padding: 0 20px;
	}

	.image-grid__item {
		width: 20%;

		&--full {
			width: 40%;
		}

		&.white,
		&.grey {
			background-color: $white;
		}

		svg {
			width: auto;
		}
	}

	.image-grid--brand {
		padding-bottom: 80px;

		.image-grid__item {
			width: 20%;
			height: 130px;
		}
	}
}