.order-nav__item {
	padding: 0 30px;
	height: 320px;
	cursor: pointer;

	&.active {
		background: $white;

		.order-nav__title {
			color: $teal1;
		}
	}
}

.order-nav__item-wrap {
	position: relative;
	top: 50%;
	@include vendor(transform, translateY(-50%));
}

.order-package {
	position: relative;
	height: 100%;
	padding: 50px 20px 100px;
}

.order-button {
	position: absolute;
	bottom: 40px;
	left: 50%;
	width: 160px;
	@include vendor(transform, translateX(-50%));
}

.order-service {
	display: none;

	&.active {
		display: block;
	}
}

.order-next {
	text-align: center;
}

.order-contract {
	min-height: 300px;
}

.order-question-svg {
	width: 100px;
}

.order-checkbox-tooltip {
	&:hover {
		z-index: 200;
	}
}

.order-view-sample {
	display: inline-block;
	width: 32px;
	height: 32px;
	position: relative;
	@include vendor(border-radius, 100%);
	@include vendor(transition, background-color 0.3s);

	svg {
		position: absolute;
		top: 50%;
		left: 50%;
		@include vendor(transform, translate(-50%, -50%));
	}

	&:hover {
		background-color: $teal1;
	}

	&:hover .icon use {
		stroke: $white;
	}
}

.order-summary {
	background-color: $white;
	padding: 50px 20px;
	position: relative;
}

.order-summary__icon {
	position: absolute;
	right: 20px;
	top: 40px;
}

.order-signature-line {
	background-color: $grey3;
	height: 1px;
	max-width: 460px;
	width: 100%;
}

// checkout form styles
.checkout-form-buttons {
	@include vendor(justify-content, center);
	@include vendor(flex-wrap, wrap);

	> div {
		width: 100%;
		text-align: center;
		margin-top: 20px;
	}
}

// email summary
.order-email-header {
	@include vendor(flex-wrap, wrap);

	svg {
		margin-bottom: 20px;
		width: 180px;
	}
}

// tablet view
@media (min-width: $lap-start) {
	.checkout-form-buttons {
		@include vendor(justify-content, flex-end);
		@include vendor(flex-wrap, wrap);

		> div {
			width: auto;
			text-align: left;
			margin-top: 0;
		}
	}

	.order-email-header {
		@include vendor(justify-content, space-between);

		svg {
			width: auto;
			margin-bottom: 0;
		}
	}
}

// desktop view
@media (min-width: $desk-start) {
	.order-next {
		text-align: right;
	}
}