.project-nav {
	display: flex;
	flex-wrap: wrap;
}

.project-nav__label {
	width: 100%;
	background-color: $grey2;
	line-height: 1;
	padding: 15px 20px;
}

.project-nav__link {
	width: 100%;
	background-color: $grey1;
	height: 66px;
	line-height: 66px;

	a {
		padding: 0 20px;
	}

	.button-icon {
		display: block;
	}

	&:hover .project-nav__link-label::before {
		@include vendor(transform, translateX(0));
	}
}

.project-nav__link-label {
	position: relative;
	display: inline-block;
	line-height: 1.3;
	overflow: hidden;
	top: 4px;

	&::before {
		content: '';
		display: block;
		height: 1px;
		width: 100%;
		bottom: 0;
		left: 0;
		position: absolute;
		background-color: $white;
		@include vendor(transition, transform 0.3s);
		@include vendor(transform, translateX(-101%));
	}
}

// tablet view
@media (min-width: $lap-start) {
	.project-nav__label {
		width: 70%;
		padding: 32px 20px;
	}

	.project-nav__link {
		width: 30%;
		height: 100px;
		line-height: 100px;
	}
}

// desktop view
@media (min-width: $desk-start) {
	.project-nav__label {
		padding: 32px 60px;
	}

	.project-nav__link {
		padding: 0 60px;
	}
}