.process {
	overflow: hidden;

	// .process__title
	&__title {
		margin-top: 30px;	
	}

	// .process__img
	&__img {
		padding: 0;
	}

	// .process__step-item
	&__step-item {
		display: flex;

		span {
			flex: none;
			width: 40px;
		}
	}

	// .process__stepc-item
	&__stepc-item {
		display: flex;
		overflow: hidden;
		position: relative;
	}

	// .process__stepc-circle
	&__stepc-circle {
		background-color: $teal1;
		color: $white;
		width: 40px;
		height: 40px;
		line-height: 40px;
		text-align: center;
		flex: none;
		@include vendor(border-radius, 50%);
	}

	// .process__stepc-line
	&__stepc-line {
		background-color: $teal1;;
		display: block;
		width: 1px;
		height: 100%;
		position: absolute;
		left: 20px;
		top: 40px;
	}

	// .process__development
	// .process__marketing
	&__development,
	&__marketing {
		.process__content {
			margin-bottom: 30px;
		}
	}
}

@media screen and (min-width: $lap-start) {
	.process {
		&__content {
			padding: 40px 20px;
		}

		&__stepc-item-sample {
			display: flex;			
		}
	}	
}

@media screen and (min-width: $desk-start) {
	.process {
		&__development {
			margin-top: 60px;
			margin-bottom: 60px;
		}

		&__img {
			img {
				display: block;
				width: 910px;
				max-width: none;
				@include vendor(transform, translateX(-50%))
			}
		}

		&__img--right {
			img {
				@include vendor(transform, translateX(3%));
			}
		}
	}	
}

@media screen and (min-width: $desk-wide-start) {
	.process {
		&__img {
			img {
				@include vendor(transform, translateX(-42%))
			}
		}

		&__img--right {
			img {
				@include vendor(transform, translateX(4%));
			}
		}
	}
}