.radio {
	padding: 20px;
	text-align: center;
	cursor: pointer;
	border: 1px solid $white;
	@include vendor(user-select, none);

	&.active {
		border: 1px solid $teal1;
		background-color: $white;
	}

	input {
		display: none;
	}
}