/**
 * SELECT
 */

.select {
	background-color: $white;
	position: relative;

	&.open {
		z-index: 2000;
	}

	&--dark,
	&--dark &__wrap {
		background-color: $grey4;
	}
}

.select__default,
.select__item {
	cursor: pointer;
	padding: 13px 36px 13px 13px;
	color: $grey2;
	font-size: $font-s-xs;
	@include vendor(user-select, none);
}

.select__item {
	&:hover {
		background-color: $teal3;
		color: $white;
	}
}

.select__wrap {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	background-color: $white;
	width: 100%;
	top: 0;
	left: 0;
	@include vendor(box-shadow, 0 0 5px rgba(0,0,0,0.15));
	@include vendor(transition, all 0.3s);

	&.open {
		opacity: 1;
		visibility: visible;
	}
}

.select__icon {
	cursor: pointer;
	position: absolute;
	right: 10px;
	top: 50%;
	@include vendor(user-select, none);
	@include vendor(transform, translateY(-50%));

	path {
		fill: none;
		stroke: $teal1;
	}
}