/**
 * TESTIMONIAL
 */

.testimonial {
	padding: 0 10px;
}

.testimonial__quote {
	width: 58px;
}

.testimonial__img-wrap {
	width: 220px;
}

.testimonial__img {
	width: 100%;
	margin: 0 auto;
}

.testimonial__img-sunstone {
	width: 70%;
}

.testimonial__img-kickbox {
	width: 80%;
}

.slick-slide {
	outline: none;
}