/**
 * VALIDATOR
 */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
}

#contact-form .font-c-danger {
	margin-top: $ten;
	font-size: $font-s-xs;
}

#form-messages.error, #form-messages.success {
	margin-bottom: $thirty;
}

#form-messages.alert, .footer__form div.font-c-danger {
    margin-bottom: 1rem;
    border: 1px solid transparent;
	font-weight:500;
}

#form-messages .error {
    color: $danger;
}

#form-messages .success {
    color: $teal1;
}

.footer__form div.font-c-danger {
	margin-top: $ten;
}