{{> header }}
{{> navigation }}

<!-- banner -->
<div class="banner background-c-teal1">
    <div class="banner__wrap container">
        <div class="banner__wrap-nav">
            <div class="banner__item">
                <div class="banner__label font-f-sansation font-c-white">About</div>
                <div class="banner__title font-f-simplifica font-c-white">Who we are</div>
            </div>
        </div>
    </div>
    <img class="banner__img" src="/img/banner-about.svg">
    <div class="banner__scroll">
        <svg class="icon icon--xl icon__white icon--scroll" width="24" height="24" viewBox="0 0 24 24">
            <path d="M5.116 20.513h13.677V2.881H5.116z"/>
            <path class="icon--scroll__line" d="M11.955 5.718v4.384"/>
        </svg>
    </div>
</div>
<!-- banner -->

<!-- about -->
<div class="background-c-white padding-t-100 padding-b-100 scroll-target">
    <div class="container">
        <div class="margin-b-50 center-text">
            <img src="/img/logo-simplemedia-outlined.svg">
        </div>
        <div class="heading font-f-simplifica margin-b-30">Simple Media is redefining what it means to be a media marketing agency.</div>
        <div class="font-s-m">
            <p>We begin with a transparent pricing structure and follow through with reliable processes, clear timelines, and quality deliverables. We are results focused, and we don’t waste time or effort as we help businesses solve tough digital challenges. Our absolute obsession with value has led us to utilize proprietary technologies and leverage them to our potential, and we incorporate premium resources and impart our stylish excellence into all that we do.</p>
            <p>We are confident in this: You are an expert in what you do, and your time is best spent focusing on your goals… not on the strategic details of your creative, web and marketing initiatives. Sure, you can go out and hire a freelancer on a per-gig basis. Or you can hire a ridiculously skilled creative marketing team that you can trust to get your projects done on-time and deliver optimal quality for a value that represents the services rendered. (Oh, and with our fair market value pricing, your new logo won’t cost as much as your car.)</p>
        </div>
        <div class="heading font-f-simplifica margin-t-50 margin-b-30">We’ve built a reputation for ourselves in the best of ways.</div>
        <div class="font-s-m">
            <p>Our team is full of real people – from resourceful creatives to data geeks – who care about what they create and who they create it for. Diversity is a strength that brings a global perspective to the culture of our company and the projects we lead. Most of us call Dallas home, though our entrepreneurial roots stem from the coasts of Italy, the forests of East Texas, and the north of Mexico. As we’ve grown, our reach now extends all the way to Asia, Europe and South America, where our senior level design &amp; development teams work intimately with our state-side creatives to bring our marketing strategies to life.</p>
            <p>From design to development to advertising, you’ll have peace of mind seeing that Simple Media is just as invested in making your business succeed as we know you are.</p>
        </div>
    </div>
</div>
<!-- about -->

<!-- team -->
<div class="background-c-grey4 padding-t-100 padding-b-100">
    <div class="container">
        <div class="heading font-f-simplifica">Team</div>
        <div class="row">
            <div class="margin-t-50 col-xs-12 col-sm-4 col-md-3">
                <img class="margin-b-30" src="/img/nick_bonanno.jpg">
                <div class="font-f-sansation">
                    <div>Nick Bonanno</div>
                    <div class="font-c-teal1 font-s-xs">Founder - CEO</div>
                </div>
            </div>
            <div class="margin-t-50 col-xs-12 col-sm-4 col-md-3">
                <img class="margin-b-30" src="/img/amy_bonanno.jpg">
                <div class="font-f-sansation">
                    <div>Amy Bonanno</div>
                    <div class="font-c-teal1 font-s-xs">Co-Founder - Director of Communication</div>
                </div>
            </div>
            <div class="margin-t-50 col-xs-12 col-sm-4 col-md-3">
                <img class="margin-b-30" src="/img/tony_romo.jpg">
                <div class="font-f-sansation">
                    <div>Tony Romo</div>
                    <div class="font-c-teal1 font-s-xs">Director of Digital Strategy</div>
                </div>
            </div>
            <div class="margin-t-50 col-xs-12 col-sm-4 col-md-3">
                <img class="margin-b-30" src="/img/robort_ewing.jpg">
                <div class="font-f-sansation">
                    <div>Robert Ewing</div>
                    <div class="font-c-teal1 font-s-xs">Storyteller, Architect, Digital Innovation</div>
                </div>
            </div>
            <div class="margin-t-50 col-xs-12 col-sm-4 col-md-3">
                <img class="margin-b-30" src="/img/sierra_trevino.jpg">
                <div class="font-f-sansation">
                    <div>Sierra Treviño</div>
                    <div class="font-c-teal1 font-s-xs">Content Specialist</div>
                </div>
            </div>
            <div class="margin-t-50 col-xs-12 col-sm-4 col-md-3">
                <img class="margin-b-30" src="/img/pon.jpg">
                <div class="font-f-sansation">
                    <div>Arnulfo "Pon" Quimada</div>
                    <div class="font-c-teal1 font-s-xs">Creative Director</div>
                </div>
            </div>
            <div class="margin-t-50 col-xs-12 col-sm-4 col-md-3">
                <img class="margin-b-30" src="/img/leoman.jpg">
                <div class="font-f-sansation">
                    <div>June Leoman Lapera</div>
                    <div class="font-c-teal1 font-s-xs">Lead Front End Developer</div>
                </div>
            </div>
            <div class="margin-t-50 col-xs-12 col-sm-4 col-md-3">
                <img class="margin-b-30" src="/img/daniela.jpg">
                <div class="font-f-sansation">
                    <div>Daniela Fracassi</div>
                    <div class="font-c-teal1 font-s-xs">Lead Creative</div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- team -->

{{> brands }}
{{> footer }}