{{> header }}
{{> navigation }}

<!-- banner -->
<div class="banner background-c-teal1">
    <div class="banner__wrap container">
        <div class="banner__wrap-nav">
            <div class="banner__item">
                <div class="banner__label font-f-sansation font-c-white">Blog</div>
                <div class="banner__title font-f-simplifica font-c-white">What we're up to</div>
            </div>
        </div>
    </div>
    <img class="banner__img" src="/img/banner-blog.svg">
    <div class="banner__scroll">
        <svg class="icon icon--xl icon__white icon--scroll" width="24" height="24" viewBox="0 0 24 24">
            <path d="M5.116 20.513h13.677V2.881H5.116z"/>
            <path class="icon--scroll__line" d="M11.955 5.718v4.384"/>
        </svg>
    </div>
</div>
<!-- banner -->

<!-- blog items -->
<div class="padding-t-50 padding-b-100 background-c-grey4 scroll-target">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row blog js">
            <div class="blog__sizer"></div>
            <!-- item -->
            <div class="col-xs-12 col-sm-6 col-md-4 margin-t-50 blog__item">
                <div class="background-c-white">
                    <img src="/img/square-img-sample-03.jpg">
                    <div class="padding-20">
                        <div class="font-f-sansation font-c-teal1 margin-b-20">5 Reasons To Purchase Desktop Computers</div>
                        <div class="button-icon margin-r-20">
                            <div class="button-icon__wrap">
                                <svg class="icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <use class="icon__teal1" xlink:href="#ic-eye" />
                                </svg>
                                <div class="padding-l-10 font-f-sansation font-s-xxs">Insights</div>
                            </div>
                        </div>
                        <div class="button-icon">
                            <div class="button-icon__wrap">
                                <svg class="icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <use class="icon__teal1" xlink:href="#ic-calendar" />
                                </svg>
                                <div class="padding-l-10 font-f-sansation font-s-xxs">06.04.2016</div>
                            </div>
                        </div>
                        <div class="margin-t-20 margin-b-20">Okay, you’ve decided you want to make money with Affiliate Marketing. So, you join some affiliate programs and start submitting free ads to newsletters and free advertising classifieds sites…</div>
                        <a href="<?php echo $baseURL; ?>blog-single.php" class="button-icon">
                            <div class="button-icon__wrap">
                                <svg class="icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <use class="icon__teal1" xlink:href="#ic-arrow-right" />
                                </svg>
                                <div class="button-icon__label font-f-sansation font-c-teal1">Read more</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- item -->
            <!-- item -->
            <div class="col-xs-12 col-sm-6 col-md-4 margin-t-50 blog__item">
                <div class="background-c-white">
                    <img src="/img/square-img-sample-03.jpg">
                    <div class="padding-20">
                        <div class="font-f-sansation font-c-teal1 margin-b-20">5 Reasons To Purchase Desktop Computers</div>
                        <div class="button-icon margin-r-20">
                            <div class="button-icon__wrap">
                                <svg class="icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <use class="icon__teal1" xlink:href="#ic-laptop" />
                                </svg>
                                <div class="padding-l-10 font-f-sansation font-s-xxs">Works</div>
                            </div>
                        </div>
                        <div class="button-icon">
                            <div class="button-icon__wrap">
                                <svg class="icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <use class="icon__teal1" xlink:href="#ic-calendar" />
                                </svg>
                                <div class="padding-l-10 font-f-sansation font-s-xxs">06.04.2016</div>
                            </div>
                        </div>
                        <div class="margin-t-20 margin-b-20">Okay, you’ve decided you want to make money with Affiliate Marketing. So, you join some affiliate programs and start submitting free ads to newsletters and free advertising classifieds sites…</div>
                        <a href="<?php echo $baseURL; ?>blog-single.php" class="button-icon">
                            <div class="button-icon__wrap">
                                <svg class="icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <use class="icon__teal1" xlink:href="#ic-arrow-right" />
                                </svg>
                                <div class="button-icon__label font-f-sansation font-c-teal1">Read more</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- item -->
            <!-- item -->
            <div class="col-xs-12 col-sm-6 col-md-4 margin-t-50 blog__item">
                <div class="background-c-white">
                    <div class="padding-20">
                        <div class="font-f-sansation font-c-teal1 margin-b-20">5 Reasons To Purchase Desktop Computers</div>
                        <div class="button-icon margin-r-20">
                            <div class="button-icon__wrap">
                                <svg class="icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <use class="icon__teal1" xlink:href="#ic-news" />
                                </svg>
                                <div class="padding-l-10 font-f-sansation font-s-xxs">News</div>
                            </div>
                        </div>
                        <div class="button-icon">
                            <div class="button-icon__wrap">
                                <svg class="icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <use class="icon__teal1" xlink:href="#ic-calendar" />
                                </svg>
                                <div class="padding-l-10 font-f-sansation font-s-xxs">06.04.2016</div>
                            </div>
                        </div>
                        <div class="margin-t-20 margin-b-20">Okay, you’ve decided you want to make money with Affiliate Marketing. So, you join some affiliate programs and start submitting free ads to newsletters and free advertising classifieds sites…</div>
                        <a href="<?php echo $baseURL; ?>blog-single.php" class="button-icon">
                            <div class="button-icon__wrap">
                                <svg class="icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <use class="icon__teal1" xlink:href="#ic-arrow-right" />
                                </svg>
                                <div class="button-icon__label font-f-sansation font-c-teal1">Read more</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- item -->
            <!-- item -->
            <div class="col-xs-12 col-sm-6 col-md-4 margin-t-50 blog__item">
                <div class="background-c-white">
                    <div class="padding-20">
                        <div class="font-f-sansation font-c-teal1 margin-b-20">5 Reasons To Purchase Desktop Computers</div>
                        <div class="button-icon margin-r-20">
                            <div class="button-icon__wrap">
                                <svg class="icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <use class="icon__teal1" xlink:href="#ic-event" />
                                </svg>
                                <div class="padding-l-10 font-f-sansation font-s-xxs">Events</div>
                            </div>
                        </div>
                        <div class="button-icon">
                            <div class="button-icon__wrap">
                                <svg class="icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <use class="icon__teal1" xlink:href="#ic-calendar" />
                                </svg>
                                <div class="padding-l-10 font-f-sansation font-s-xxs">06.04.2016</div>
                            </div>
                        </div>
                        <div class="margin-t-20 margin-b-20">Okay, you’ve decided you want to make money with Affiliate Marketing. So, you join some affiliate programs and start submitting free ads to newsletters and free advertising classifieds sites…</div>
                        <a href="<?php echo $baseURL; ?>blog-single.php" class="button-icon">
                            <div class="button-icon__wrap">
                                <svg class="icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <use class="icon__teal1" xlink:href="#ic-arrow-right" />
                                </svg>
                                <div class="button-icon__label font-f-sansation font-c-teal1">Read more</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- item -->
        </div>
        <!-- row -->
    </div>
    <!-- container -->
</div>
<!-- blog items -->
<!-- pagination -->
<div class="pagination">
    <a href="" class="pagination__item padding-t-30 padding-b-30 background-c-grey3">
        <div class="button-icon">
            <div class="button-icon__wrap">
                <svg class="icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <use class="icon__white" xlink:href="#ic-arrow-left" />
                </svg>
                <div class="padding-l-10 font-f-sansation font-c-white">Previous</div>
            </div>
        </div>
    </a>
    <a href="" class="pagination__item padding-t-30 padding-b-30 background-c-grey1">
        <div class="button-icon">
            <div class="button-icon__wrap">
                <svg class="icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <use class="icon__white" xlink:href="#ic-arrow-right" />
                </svg>
                <div class="padding-l-10 font-f-sansation font-c-white">Next</div>
            </div>
        </div>
    </a>
</div>
<!-- pagination -->

{{> footer }}