{{> header }}
{{> navigation }}

<!-- banner -->
<div class="banner background-c-teal1">
    <div class="banner__wrap container">
        <div class="banner__wrap-nav">
            <div class="banner__item">
                <div class="banner__label font-f-sansation font-c-white">Contact</div>
                <div class="banner__title font-f-simplifica font-c-white">Get in touch</div>
            </div>
        </div>
    </div>
    <img class="banner__img" src="/img/banner-contact.svg">
    <div class="banner__scroll">
        <svg class="icon icon--xl icon__white icon--scroll" width="24" height="24" viewBox="0 0 24 24">
            <path d="M5.116 20.513h13.677V2.881H5.116z"/>
            <path class="icon--scroll__line" d="M11.955 5.718v4.384"/>
        </svg>
    </div>
</div>
<!-- banner -->

<!-- form -->
<div class="padding-t-100 padding-b-100 background-c-grey4 scroll-target">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                <div class="heading font-f-simplifica">Have a project you’re interested in discussing with us? Drop us a line below. We’d love to talk.</div>
                <form class="margin-t-50" method="post" action="processContact.php" id="contact-form">
                    <div class="row">
                        <div class="margin-b-20 col-xs-12 col-sm-6">
                            <div class="margin-b-10">First Name <span class="font-c-danger">*</span></div>
                            <input class="textfield font-s-s" type="text" name="fname" id="fname">
                        </div>
                        <div class="margin-b-20 col-xs-12 col-sm-6">
                            <div class="margin-b-10">Last Name <span class="font-c-danger">*</span></div>
                            <input class="textfield font-s-s" type="text" name="lname" id="lname">
                        </div>
                        <div class="margin-b-20 col-xs-12 col-sm-6">
                            <div class="margin-b-10">Email <span class="font-c-danger">*</span></div>
                            <input class="textfield font-s-s" type="email" name="email" id="email">
                        </div>
                        <div class="margin-b-20 col-xs-12 col-sm-6">
                            <div class="margin-b-10">Phone <span class="font-c-danger">*</span></div>
                            <input class="textfield font-s-s" type="text" name="phone" id="phone">
                        </div>
                        <div class="margin-b-20 col-xs-12">
                            <div class="margin-b-10">Company/Organization</div>
                            <input class="textfield font-s-s" type="text" name="org" id="org">
                        </div>
                    </div>
                    <div class="margin-b-20">
                        <div class="margin-b-10">I'm interested in: <span class="font-c-danger">*</span></div>
                        <div class="row">
                            <div class="col-xs-12 col-md-10 col-md-offset-1">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6">
                                        <input type="checkbox" class="checkbox-one" name="service[]" data-class="margin-t-10" data-label="Strategy" value="Strategy">
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <input type="checkbox" class="checkbox-one" name="service[]" data-class="margin-t-10" data-label="Content" value="Content">
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <input type="checkbox" class="checkbox-one" name="service[]" data-class="margin-t-10" data-label="Business Cards" value="Business Cards">
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <input type="checkbox" class="checkbox-one" name="service[]" data-class="margin-t-10" data-label="Web Design" value="Web Design">
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <input type="checkbox" class="checkbox-one" name="service[]" data-class="margin-t-10" data-label="Application Development" value="Application Development">
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <input type="checkbox" class="checkbox-one" name="service[]" data-class="margin-t-10" data-label="PPC" value="PPC">
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <input type="checkbox" class="checkbox-one" name="service[]" data-class="margin-t-10" data-label="Creative" value="Creative">
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <input type="checkbox" class="checkbox-one" name="service[]" data-class="margin-t-10" data-label="Logo" value="Logo">
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <input type="checkbox" class="checkbox-one" name="service[]" data-class="margin-t-10" data-label="Brand Collateral" value="Brand Collateral">
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <input type="checkbox" class="checkbox-one" name="service[]" data-class="margin-t-10" data-label="Web Development" value="Web Development">
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <input type="checkbox" class="checkbox-one" name="service[]" data-class="margin-t-10" data-label="Software Development" value="Software Development">
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <input type="checkbox" class="checkbox-one" name="service[]" data-class="margin-t-10" data-label="Social Media Marketing" value="Social Media Marketing">
                                    </div>
                                </div>
                            </div>
                            <div class="checkbox-label col-xs-12"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="margin-b-20 col-xs-12 col-sm-6">
                            <div class="margin-b-10">Budget Limitation <span class="font-c-danger">*</span></div>
                            <div class="select">
                                <select name="budget" id="budget">
                                    <option value="less than 3000" selected>Less than $3,000</option>
                                    <option value="3500-5000">$3,500 to $5,000</option>
                                    <option value="5000-10000">$5,000 to $10,000</option>
                                    <option value="10000-15000">$10,000 to $15,000</option>
                                    <option value="15000-20000">$15,000 to $20,000</option>
                                    <option value="more than 20000">More than $20,000</option>
                                </select>
                                <svg class="select__icon" width="16" height="16" viewBox="0 0 24 24">
                                    <path style="stroke:none" d="M.013.465h23.04v23.04H.013z"/>
                                    <path d="M19.533 7.985l-8 8-8-8"/>
                                </svg>
                                <div class="select__default"></div>
                                <div class="select__wrap"></div>
                            </div>
                        </div>
                        <div class="margin-b-20 col-xs-12 col-sm-6">
                            <div class="margin-b-10">Need my project done in <span class="font-c-danger">*</span></div>
                            <div class="select">
                                <select name="time" id="time">
                                    <option value="30 days" selected>30 days</option>
                                    <option value="60 days">60 days</option>
                                    <option value="90 days">90 days</option>
                                    <option value="4 months">4 months</option>
                                    <option value="6 months">6 months</option>
                                    <option value="12 months">12 months</option>
                                </select>
                                <svg class="select__icon" width="16" height="16" viewBox="0 0 24 24">
                                    <path style="stroke:none" d="M.013.465h23.04v23.04H.013z"/>
                                    <path d="M19.533 7.985l-8 8-8-8"/>
                                </svg>
                                <div class="select__default"></div>
                                <div class="select__wrap"></div>
                            </div>
                        </div>
                    </div>
                    <div class="margin-b-20">
                        <div class="margin-b-10">Project Details <span class="font-c-danger">*</span></div>
                        <textarea name="projectDetails" class="textfield textfield--area font-s-s" id="projectDetails"></textarea>
                    </div>
                    <div class="center-text margin-t-50">
                        <input class="button button--b-teal1 button--c-teal1 font-f-sansation font-c-teal1" type="submit" value="Send">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- form -->

{{> footer }}