{{> header }}
{{> navigation }}

<!-- banner -->
<div class="banner background-c-teal1">
    <div class="banner__video">
        <video muted autoplay loop preload="auto">
            <source src="/img/video.mp4" type="video/mp4">
        </video>
    </div>
    <div class="banner__title-centered center-text">
        <div class="banner__title font-f-simplifica center-text font-c-white"><span class="banner__title-span">{{ cosmic.object.home.metafield.banner.value }}</span> <span class="js-typed banner__typed"></span></div>
    </div>
    <div class="banner__scroll"> <svg class="icon icon--xl icon__white icon--scroll" width="24" height="24" viewBox="0 0 24 24">
        <path d="M5.116 20.513h13.677V2.881H5.116z"/>
        <path class="icon--scroll__line" d="M11.955 5.718v4.384"/>
    </svg> </div>
</div>
<!-- banner -->

<!-- services -->
<div class="padding-b-100">
    <div class="padding-t-100 margin-b-100">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-12 col-md-offset-0">
                    <div class="margin-b-50 center-text"> <img src="/img/logo-simplemedia-outlined.svg"> </div>
                    <div class="heading center-text font-f-simplifica">We are reconstructing the way businesses and agencies work together by initiating with transparency and delivering beyond expectations.</div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-12 col-md-offset-0 heading font-f-simplifica">Our Core Services</div>
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-0 service margin-t-50">
                <div class="margin-b-30 center-text"> <svg class="branding-illustration illustration js" width="190" height="198" viewBox="-1 -1 190 192" xmlns="http://www.w3.org/2000/svg">
                    <g fill="none" fill-rule="evenodd" stroke="#221F20">
                        <path d="M130.983 141.214h6.537v-13.605h-6.537zM137.233 124.074v3.535h-5.965v-3.537z"/>
                    </g>
                    <g fill="none" fill-rule="evenodd" stroke="#221F20">
                        <path d="M159.946 27.145c4.277-1.223 7.131-4.352 6.375-6.993-.752-2.639-4.83-3.788-9.107-2.567-4.276 1.223-7.13 4.353-6.375 6.994.753 2.638 4.83 3.787 9.107 2.566zM160.269 27.051l-34.393 9.786M159.946 35.794c4.277 1.225 7.131 4.354 6.375 6.995-.754 2.638-4.832 3.787-9.107 2.566-4.276-1.222-7.13-4.352-6.375-6.993.753-2.639 4.83-3.789 9.107-2.568zM160.269 35.888l-34.393-9.785"/>
                    </g>
                    <g fill="none" fill-rule="evenodd" stroke="#221F20">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M57.95 4.455h3.955V.5H57.95zM130.961 4.455h3.955V.5h-3.955z"/>
                        <path d="M130.96 2.477H61.906"/>
                    </g>
                    <g fill="none" fill-rule="evenodd">
                        <path d="M158.172 168.873h1.137a2.374 2.374 0 1 0 0-4.746h-10.617a2.374 2.374 0 0 0 0 4.747h6.435c.654 0 1.188-.531 1.188-1.188 0-.654-.534-1.186-1.188-1.186h-6.557" stroke="#221F20"/>
                        <path d="M143 161h22v11h-22z"/>
                    </g>
                    <g fill="none" fill-rule="evenodd" stroke="#221F20">
                        <path d="M114.576 181.596h19.675v-25.258H58.249v25.258h20.357M81.468 156.338h29.565V143.27H81.468zM111.033 156.338h7.085v-6.154h-7.085zM74.122 156.338h7.086v-6.154h-7.086z"/>
                        <path d="M78.606 176.315h-9.583v-9.06h54.453v9.06h-8.9"/>
                        <path d="M78.606 189.98h35.97v-18.196h-35.97z"/>
                        <path stroke-linecap="round" stroke-linejoin="round" d="M78.606 189.98h35.969v-4.214H78.606zM58.249 161.021h76.003v-4.683H58.249z"/>
                        <path d="M122.915 158.68h2.872M128.112 158.68h2.872"/>
                    </g>
                    <g fill="none" fill-rule="evenodd" stroke="#221F20">
                        <path d="M10.106 137.143h32.721v-20.942H10.106z"/>
                        <path stroke-linecap="round" stroke-linejoin="round" d="M10.106 137.143l.008-4.403 8.022-8.347 9.487 9.487 5.968-5.972 9.24 9.238z"/>
                        <path stroke-linecap="round" stroke-linejoin="round" d="M22.206 128.462l-4.07-4.069-3.91 4.07zM36.413 130.728l-2.821-2.82-2.81 2.81v.052h5.63zM10.107 118.827h32.724v-2.626H10.107z"/>
                    </g>
                    <g fill="none" fill-rule="evenodd" stroke="#221F20">
                        <path d="M58.732 127.051h55.018V43.607H58.732z"/>
                        <path d="M113.75 48.99h5.385v83.445H64.115v-5.383M65.293 40.211v7.381M72.276 40.211v7.381M79.258 40.211v7.381M86.24 40.211v7.381M93.224 40.211v7.381M100.206 40.211v7.381M107.189 40.211v7.381M67.716 72.216h35.115M67.716 81.925h23.25"/>
                        <path stroke-linecap="round" stroke-linejoin="round" d="M58.732 127.051h55.018v-2.658H58.732zM67.716 67.177h6.959v-6.959h-6.959z"/>
                    </g>
                    <g fill="none" fill-rule="evenodd" stroke="#221F20">
                        <path d="M14.806 67.655h10.2V55.664h-10.2zM3.806 101.764v-16.71l11-17.399h3.844l-11 17.4v16.71zM36.14 101.764v-16.71l-11-17.399h-3.844l11 17.4v16.71zM8.567 77.523H.5v-2.094h9.39zM31.38 77.523h8.068v-2.094h-9.391z"/>
                        <path d="M21.124 77.523h6.406l-1.325-2.094h-5.081zM18.688 77.523H12.41l1.325-2.094h4.953z"/>
                        <path stroke-linecap="round" stroke-linejoin="round" d="M18.688 79.007h2.436v-5.463h-2.436zM18.115 55.664h3.582V44.167h-3.582z"/>
                        <path d="M5.708 101.764v4.574M34.27 101.764v4.574"/>
                        <path stroke-linecap="round" stroke-linejoin="round" d="M32.296 101.764h3.844v-5.187h-3.844zM3.786 101.764H7.63v-5.187H3.786zM.5 77.523h3.306v-2.094H.5zM36.14 77.523h3.306v-2.094H36.14z"/>
                    </g>
                    <g fill="none" fill-rule="evenodd" stroke="#221F20">
                        <path d="M167.398 110.108l-2.47 5.114-2.467-5.114V66.264h4.937z"/>
                        <path stroke-linecap="round" stroke-linejoin="round" d="M162.46 66.264h4.937v-4.986h-4.937z"/>
                        <path d="M167.398 110.108h-4.937M160.864 78.168h1.596V66.264h-1.596zM147.472 110.254l-2.47 5.115-2.467-5.115V61.131h4.937z"/>
                        <path d="M147.472 110.254l-1.797-1.484-3.14 1.484M145.675 108.77V68.905M147.472 68.905h-4.937"/>
                        <path stroke-linecap="round" stroke-linejoin="round" d="M142.534 66.158h4.937v-5.026h-4.937z"/>
                        <path d="M187.302 107.927h-5.76l1.47-52.962h2.822z"/>
                        <path stroke-linecap="round" stroke-linejoin="round" d="M181.543 111.115h5.759v-3.188h-5.759z"/>
                        <path d="M187.302 111.115h-5.76l-.72 11.07h7.2zM182.922 122.186v-3.48"/>
                        <path stroke-linecap="round" stroke-linejoin="round" d="M162.46 110.107h4.937v-3.648h-4.937zM186.078 63.771l-.244-8.806h-2.82l-.246 8.806z"/>
                    </g>
                    <g fill="none" fill-rule="evenodd" stroke="#221F20">
                        <path d="M28.312 32.471h77.192V21.282H28.312zM35.269 32.672v-3.955M39.224 32.672v-1.978M43.179 32.672v-3.955M47.134 32.672v-1.978M51.088 32.672v-3.955M55.044 32.672v-1.978M58.998 32.672v-3.955M62.953 32.672v-1.978M66.908 32.672v-3.955M70.863 32.672v-1.978M74.818 32.672v-3.955M78.773 32.672v-1.978M82.727 32.672v-3.955M86.682 32.672v-1.978M90.637 32.672v-3.955M94.592 32.672v-1.978M98.547 32.672v-3.955"/>
                        <path stroke-linecap="round" stroke-linejoin="round" d="M22.312 19.322h77.192v-3.04H22.312z"/>
                    </g>
                    <g fill="none" fill-rule="evenodd" stroke="#221F20">
                        <path d="M171.005 153.722c5.82 0 10.54-4.719 10.54-10.54 0-5.82-4.72-10.54-10.54-10.54-4.083 0-7.617 2.326-9.367 5.722h-3.64V148h3.64c1.75 3.396 5.284 5.722 9.367 5.722z"/>
                        <path d="M155.195 148.001h2.804v-9.637h-2.804z"/>
                        <path stroke-linecap="round" stroke-linejoin="round" d="M152.391 148.001h2.804v-9.637h-2.804z"/>
                        <path d="M149.588 148.001h2.804v-9.637h-2.804z"/>
                        <path d="M147.997 146.83c-1.103 0-1.997-1.529-1.997-3.415 0-1.886.894-3.415 1.997-3.415v6.83z" stroke-linecap="round" stroke-linejoin="round"/>
                    </g>
                    <g fill="none" fill-rule="evenodd" stroke="#221F20">
                        <path d="M44.418 150.359v13.724l-6.086-.82v-12.075z"/>
                        <path d="M38.404 153.981l-7.31 1.389c-.362-.691-.913-1.143-1.54-1.143-1.088 0-1.97 1.34-1.97 2.994 0 1.652.882 2.991 1.97 2.991.627 0 1.178-.451 1.54-1.141l7.31 1.389"/>
                        <path stroke-linecap="round" stroke-linejoin="round" d="M34.521 145.89l-2.189.298v12.076l2.189.294z"/>
                    </g>
                    <g class="label" fill="#41A89B" fill-rule="evenodd">
                        <path d="M101.784 146.24h-21.09v-11.205h21.09c21.207 0 38.46-17.253 38.46-38.458 0-21.207-17.253-38.46-38.46-38.46h-21.09V46.913h21.09c27.386 0 49.665 22.28 49.665 49.665 0 27.385-22.279 49.664-49.665 49.664zM43.585 46.24h-6.478v11.206h6.478v87.706h11.206V46.24z"/>
                    </g>
                </svg> </div>
                <div class="margin-b-20">
                    <div class="font-c-teal1 font-f-sansation">Branding and Creative</div>
                    <div class="margin-b-10 font-f-sansation"><span class="font-c-grey2">Starting at</span> $895</div>
                    <div class="font-s-l">Strategy, Brand Identity, <br>
                        and Collateral</div>
                </div>
                <a href="http://smstaging.net/simplemedia-new/works-sally-evans.php" class="button-icon">
                    <div class="button-icon__wrap"> <svg class="icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <use class="icon__teal1" xlink:href="#ic-browser" />
                    </svg>
                        <div class="button-icon__label font-f-sansation font-c-teal1 font-s-xxs">View Sample</div>
                    </div>
                </a> </div>
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-0 service margin-t-50">
                <div class="margin-b-30 center-text"> <svg class="development-illustration illustration js" width="191" height="198" viewBox="0 -1 191 198" xmlns="http://www.w3.org/2000/svg">
                    <g fill="none" fill-rule="evenodd">
                        <path stroke="#221F20" d="M47.464 123.763h112.698v-7.493H47.464z"/>
                        <path stroke="#221F20" d="M93.356 119.961h20.913v-3.691H93.356z"/>
                        <path stroke="#000" d="M59.521 112.546h88.583V64.438H59.521z"/>
                        <path stroke="#000" d="M55.797 116.269h96.03V60.713h-96.03z"/>
                    </g>
                    <g fill="none" fill-rule="evenodd" stroke="#221F20">
                        <path d="M167.475 105.772h22.629v-4.312h-22.629z"/>
                        <path d="M167.475 105.771h22.629V65.015h-22.629zM176.135 103.615h5.31"/>
                        <path d="M167.475 67.98h22.629v-2.965h-22.629z"/>
                    </g>
                    <g fill="none" fill-rule="evenodd" stroke="#221F20">
                        <path d="M.5 128.279h37.647V70.056H.5z"/>
                        <path d="M.5 128.279h37.647v-6.691H.5zM15.531 124.934h7.585M.5 74.072h37.647v-4.016H.5z"/>
                    </g>
                    <g fill="none" fill-rule="evenodd" stroke="#221F20">
                        <path d="M44.649 36.89h10.91v-6.503h-10.91zM44.649 46.241h10.91v-6.503h-10.91zM44.649 55.592h10.91v-6.503h-10.91z"/>
                        <path d="M21.069 36.89h34.49v-6.503h-34.49zM21.069 46.241h34.49v-6.504h-34.49zM21.069 55.591h34.49v-6.504h-34.49zM23.73 33.64h9.752M53.076 33.64h-2.345M49.49 33.64h-2.346M23.73 42.99h9.752M53.076 42.99h-2.345M49.49 42.99h-2.346M23.73 52.339h9.752M53.076 52.339h-2.345M49.49 52.339h-2.346"/>
                    </g>
                    <g fill="none" fill-rule="evenodd" stroke="#221F20">
                        <path d="M177.381 44.646v7.256h-26.555v-7.256"/>
                        <path d="M170.97 34.438l-6.866-6.865-6.866 6.865h3.582v12.804h6.568V34.438z"/>
                    </g>
                    <g fill="none" fill-rule="evenodd" stroke="#221F20">
                        <path d="M174.001 154.521v7.256h-26.555v-7.256"/>
                        <path d="M153.858 150.086l6.866 6.865 6.866-6.865h-3.582v-12.804h-6.568v12.804z"/>
                    </g>
                    <g fill="none" fill-rule="evenodd" stroke="#221F20">
                        <path d="M70.809 33.824h51.47V.5h-51.47z"/>
                        <path d="M70.809 6.212h51.47V.5h-51.47zM76.723 33.824v5.913h51.47V6.413h-5.914v27.411zM110.961 3.183h3.05M73.291 3.183h3.05M116.747 3.183h3.05"/>
                        <path d="M122.278 11.763h5.914v-5.35h-5.914z"/>
                    </g>
                    <g fill="none" fill-rule="evenodd" stroke="#221F20">
                        <path d="M51.631 144.67c0 1.72-6.71 3.115-14.99 3.115-8.279 0-14.99-1.394-14.99-3.114s6.711-3.113 14.99-3.113c8.28 0 14.99 1.394 14.99 3.113zM36.642 155.214c-8.28 0-14.991-1.395-14.991-3.114v4.226c0 1.72 6.712 3.115 14.99 3.115 8.28 0 14.99-1.395 14.99-3.115V152.1c0 1.719-6.71 3.114-14.99 3.114z"/>
                        <path d="M49.48 150.499c-2.622.905-7.382 1.513-12.838 1.513-5.456 0-10.217-.608-12.839-1.513-1.357.468-2.152 1.015-2.152 1.6 0 1.72 6.711 3.115 14.991 3.115 8.279 0 14.989-1.395 14.989-3.114 0-.586-.794-1.133-2.151-1.601zM36.642 162.642c-8.28 0-14.991-1.395-14.991-3.114v4.226c0 1.72 6.712 3.115 14.99 3.115 8.28 0 14.99-1.395 14.99-3.115v-4.226c0 1.72-6.71 3.114-14.99 3.114z"/>
                        <path d="M49.48 157.928c-2.622.905-7.382 1.513-12.838 1.513-5.456 0-10.217-.608-12.839-1.513-1.357.468-2.152 1.015-2.152 1.6 0 1.72 6.711 3.115 14.991 3.115 8.279 0 14.989-1.395 14.989-3.114 0-.586-.794-1.133-2.151-1.601zM36.642 147.785c-8.28 0-14.991-1.395-14.991-3.114v4.226c0 1.72 6.712 3.115 14.99 3.115 8.28 0 14.99-1.395 14.99-3.115v-4.226c0 1.719-6.71 3.114-14.99 3.114z"/>
                    </g>
                    <g fill="none" fill-rule="evenodd" stroke="#221F20">
                        <path d="M108.222 195.869H81.608v-37.012h20.998l5.616 5.617z"/>
                        <path stroke-linecap="round" stroke-linejoin="round" d="M102.606 164.475h5.616l-5.616-5.617z"/>
                        <path d="M113.102 148.361H92.104v10.496h10.502l5.616 5.617v20.9h10.496v-31.396z"/>
                        <path stroke-linecap="round" stroke-linejoin="round" d="M113.102 153.978h5.616l-5.616-5.617z"/>
                    </g>
                    <g class="label" fill="#41A89B" fill-rule="evenodd">
                        <path d="M65.388 116.472l-18.46-18.46 18.46-18.46V63.528L30.906 98.013l34.482 34.482zM125.216 116.472l18.46-18.46-18.46-18.46V63.528l34.482 34.484-34.482 34.482zM81.27 148.184l40.006-100h-12.08l-40.006 100z"/>
                    </g>
                </svg> </div>
                <div class="margin-b-20">
                    <div class="font-c-teal1 font-f-sansation">Web Design and Development</div>
                    <div class="margin-b-10 font-f-sansation"><span class="font-c-grey2">Starting at</span> $3750</div>
                    <div class="font-s-l">UIX Design, Frontend and Backend Development</div>
                </div>
                <a href="http://smstaging.net/simplemedia-new/works-kintz-group.php" class="button-icon">
                    <div class="button-icon__wrap"> <svg class="icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <use class="icon__teal1" xlink:href="#ic-browser" />
                    </svg>
                        <div class="button-icon__label font-f-sansation font-c-teal1 font-s-xxs">View Sample</div>
                    </div>
                </a> </div>
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-0 service margin-t-50">
                <div class="margin-b-30 center-text"> <svg class="marketing-illustration illustration js" width="196" height="198" viewBox="-1 -1 196 190" xmlns="http://www.w3.org/2000/svg">
                    <g fill="none" fill-rule="evenodd" stroke="#221F20">
                        <path d="M42.238 82.88H7.344l3.63-40.98h27.635z"/>
                        <path d="M10.625 45.837h28.333l-.349-3.937H10.974zM30.372 38.046a5.856 5.856 0 0 0-11.713 0V41.9h11.713v-3.854z"/>
                    </g>
                    <g fill="none" fill-rule="evenodd" stroke="#221F20">
                        <path d="M62.055 73.029h70.341v-5.206H62.055zM56.533 128.702h81.385v-3.825H56.533zM134.934 99.013v25.863H59.518V99.013M126.534 91.644v-2.36l-6.68-16.255M111.88 91.644v-2.36l-4.252-16.255"/>
                        <path d="M67.917 91.644v-2.36L74.6 73.028M82.571 91.644v-2.36l4.253-16.255M97.227 91.644V73.03"/>
                        <path d="M53.263 89.283v2.361c0 4.07 3.28 7.369 7.326 7.369 4.048 0 7.328-3.299 7.328-7.369 0 4.07 3.28 7.369 7.327 7.369 4.047 0 7.328-3.299 7.328-7.369 0 4.07 3.28 7.369 7.327 7.369 4.047 0 7.328-3.299 7.328-7.369 0 4.07 3.279 7.369 7.326 7.369s7.328-3.299 7.328-7.369c0 4.07 3.279 7.369 7.326 7.369s7.327-3.299 7.327-7.369c0 4.07 3.282 7.369 7.328 7.369 4.047 0 7.327-3.299 7.327-7.369v-2.361H53.263zM141.189 89.283l-8.793-16.254H62.055l-8.793 16.254"/>
                    </g>
                    <g fill="none" fill-rule="evenodd" stroke="#221F20">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M88.383 8.764h42.976V3.015H88.383z"/>
                        <path d="M97.664 0v5.603M105.898 0v5.603M114.132 0v5.603M122.367 0v5.603M93.562 14.37h4.845M102.628 14.37h4.845M112.557 14.37h4.845M121.624 14.37h4.845M93.562 20.478h4.845M102.628 20.478h4.845M112.557 20.478h4.845M121.624 20.478h4.845M93.562 26.589h4.845M102.628 26.589h4.845M112.557 26.589h4.845M121.624 26.589h4.845M88.383 33.201h42.976V8.764H88.383z"/>
                    </g>
                    <g fill="none" fill-rule="evenodd" stroke="#221F20">
                        <path d="M5.409 99.129l-1.602 16.944M13.135 99.129l-1.602 16.944M16.943 103.738H0M16.943 111.464H0"/>
                    </g>
                    <g fill="none" fill-rule="evenodd" stroke="#221F20">
                        <path d="M168.038 40.844l3.25 3.251-3.25 3.25"/>
                        <path d="M171.288 44.096h-11.814v7.662h15.324V36.433h-15.324"/>
                    </g>
                    <g fill="none" fill-rule="evenodd">
                        <path d="M38 105.166a2.932 2.932 0 0 0-4.148 0l-2.233 2.232-2.233-2.232a2.933 2.933 0 0 0-4.147 4.147l6.38 6.38 6.38-6.38a2.933 2.933 0 0 0 0-4.147z" stroke="#221F20"/>
                        <path d="M21.119 100h21v20h-21z"/>
                    </g>
                    <g fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke="#221F20">
                        <path d="M176.41 75.085l-6.072-5.613-1.655 5.613zM157.531 69.471l-6.07 5.613h7.724z"/>
                        <path d="M168.684 75.085l1.654-5.613h-12.806l1.654 5.613zM168.684 75.085l-4.75 16.113 12.476-16.113z"/>
                        <path d="M159.185 75.085l4.75 16.113 4.748-16.113z"/>
                        <path d="M151.46 75.085l12.475 16.113-4.749-16.113z"/>
                    </g>
                    <g fill="none" fill-rule="evenodd" stroke="#221F20">
                        <path d="M146.597 49.238a7.871 7.871 0 0 1-7.872 7.872 7.871 7.871 0 0 1-7.872-7.872 7.872 7.872 0 1 1 15.744 0zM130.852 49.238H114.19"/>
                    </g>
                    <g fill="none" fill-rule="evenodd">
                        <path d="M36.04 144.231a10.909 10.909 0 0 1-2.604 2.684 14.716 14.716 0 0 1-.595 4.844 14.99 14.99 0 0 1-1.856 3.993 15.679 15.679 0 0 1-2.965 3.385c-1.147.98-2.529 1.762-4.146 2.346-1.619.584-3.349.875-5.19.875-2.905 0-5.56-.777-7.972-2.33.375.043.792.064 1.253.064 2.411 0 4.558-.739 6.445-2.216a5.066 5.066 0 0 1-3.022-1.039 5.063 5.063 0 0 1-1.832-2.562c.354.054.681.081.981.081.461 0 .915-.059 1.365-.178a5.108 5.108 0 0 1-2.98-1.79c-.788-.95-1.182-2.05-1.182-3.305v-.065a5.15 5.15 0 0 0 2.347.66 5.186 5.186 0 0 1-1.688-1.847 5.053 5.053 0 0 1-.627-2.475c0-.943.236-1.816.707-2.62a14.73 14.73 0 0 0 4.733 3.833 14.524 14.524 0 0 0 5.971 1.6 5.845 5.845 0 0 1-.129-1.19c0-1.436.506-2.66 1.52-3.673 1.011-1.012 2.236-1.518 3.671-1.518 1.5 0 2.765.545 3.793 1.638a10.155 10.155 0 0 0 3.296-1.254c-.398 1.233-1.158 2.186-2.283 2.861a10.383 10.383 0 0 0 2.99-.802z" stroke="#221F20"/>
                        <path d="M5 135h34v33H5z"/>
                    </g>
                    <g fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke="#221F20">
                        <path d="M83.47 42.093c0 7.56-6.128 13.687-13.688 13.687-7.559 0-13.686-6.128-13.686-13.687 0-7.559 6.127-13.687 13.686-13.687 7.56 0 13.687 6.128 13.687 13.688z"/>
                        <path d="M69.783 28.407v13.687l9.678-9.678a13.643 13.643 0 0 0-9.678-4.009z"/>
                        <path d="M79.46 32.416l-9.677 9.678h13.686c0-3.78-1.531-7.201-4.008-9.678z"/>
                    </g>
                    <g fill="none" fill-rule="evenodd" stroke="#221F20">
                        <path d="M184.439 127.368h-18.95l-2.456-15.166h23.862z"/>
                        <path d="M184.386 127.663l3.685-22.75h6.324M183.796 132.27a2.9 2.9 0 1 1-5.801 0 2.9 2.9 0 0 1 5.8 0zM172.079 132.27a2.9 2.9 0 1 1-5.801 0 2.9 2.9 0 0 1 5.8 0z"/>
                        <path d="M164.975 124.193l.514 3.175h18.95l.514-3.175z"/>
                    </g>
                    <g fill="none" fill-rule="evenodd" stroke="#221F20">
                        <path d="M56.812 8.231v3.611h-2.146c-.787 0-1.315.163-1.588.493-.274.327-.412.821-.412 1.475v2.585h4.01l-.535 4.051h-3.474V30.83H48.48V20.446h-3.488v-4.05h3.488v-2.979c0-1.698.474-3.014 1.422-3.948.95-.934 2.211-1.404 3.79-1.404 1.34 0 2.38.057 3.118.166z"/>
                        <path stroke-linecap="round" stroke-linejoin="round" d="M48.481 30.83h4.186v-4.241h-4.186z"/>
                    </g>
                    <g fill="none" fill-rule="evenodd" stroke="#221F20">
                        <path d="M132.287 176.715l8.204 4.48 20.415-11.741v-9.335l-18.104-6.176 3.488 8.816 5.66 2.594L140.537 172v-28.62l-8.25-2.97z"/>
                        <path stroke-linecap="round" stroke-linejoin="round" d="M140.539 149.361v-5.98l-8.251-2.97v8.95z"/>
                    </g>
                    <g fill="none" fill-rule="evenodd" stroke="#221F20">
                        <path d="M100.665 147.533H52.281v27.677h5.833v8.254l8.254-8.254h34.297z"/>
                        <path stroke-linecap="round" stroke-linejoin="round" d="M61.918 179.651h6.838v8.255l8.253-8.255h28.097v-27.677h-4.441v23.236H66.368z"/>
                        <path d="M59.047 159.833h23.356M59.047 164.946h14.201"/>
                        <path stroke-linecap="round" stroke-linejoin="round" d="M52.281 151.974h48.384v-4.441H52.281zM100.665 155.813h4.441v-3.839h-4.441z"/>
                    </g>
                    <g class="label" fill="#41A89B" fill-rule="evenodd">
                        <path d="M39.27 144.556h11.369v-33.324H39.27zM74.099 144.556h11.368v-40.018H74.099zM108.928 144.556h11.368V91.154h-11.368zM143.755 144.556h11.37v-100h-11.37z"/>
                    </g>
                </svg> </div>
                <div class="margin-b-20">
                    <div class="font-c-teal1 font-f-sansation">Online Marketing</div>
                    <div class="margin-b-10 font-f-sansation"><span class="font-c-grey2">Starting at</span> $750 a month</div>
                    <div class="font-s-l">Google Adwords, Bing &amp; Facebook Ads and SEO</div>
                </div>
                <a href="http://resources.simplemedia.co/ppc-management-agency-dallas" target="_blank" class="button-icon">
                    <div class="button-icon__wrap"> <svg class="icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <use class="icon__teal1" xlink:href="#ic-browser" />
                    </svg>
                        <div class="button-icon__label font-f-sansation font-c-teal1 font-s-xxs">View Sample</div>
                    </div>
                </a> </div>
            <div class="col-xs-12 margin-t-30 center-text"> <a href="<?php echo $baseURL; ?>services.php" class="button button--b-teal1 button--c-teal1 font-f-sansation">View Details</a> </div>
        </div>
    </div>
</div>
<!-- services -->

<!-- works -->
<div class="background-c-grey4">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-12 col-md-offset-0 heading heading--work font-f-simplifica">Our Work</div>
        </div>
    </div>
    <div class="image-grid js">
        <div class="image-grid__item image-grid__item-sizer"></div>
            {{#works}}
            <a href="/works/{{ slug }}" class="image-grid__item {{work_class}}">
                {{{ metafield.svg_logo.value }}}
                <div class="image-grid__bg-img {{ metafield.grid_thumbnail_size.value }}" style="background: url({{ metafield.thumbnail.imgix_url
                }}) no-repeat center / cover"></div>
            </a>
            {{/works}}
         </div>
</div>
<!-- works -->

{{> brands }}

<!-- testimonials -->
<div class="padding-t-100 padding-b-100 background-c-grey4">
    <div class="container">
        <div class="slick-testimonial js">
            <div class="testimonial">
                <div class="row">
                    <div class="col-xs-12 col-sm-5 col-md-4">
                        <div class="testimonial__quote center-block margin-b-50"><img src="/img/quote.svg"></div>
                        <div class="testimonial__img-wrap center-block margin-b-50"> <img class="testimonial__img testimonial__img-sunstone" src="/img/logo-sunstone.svg"> </div>
                    </div>
                    <div class="col-xs-12 col-sm-7 col-md-8">
                        <div class="margin-b-50">I have worked with 5 different PPC management companies over the past 5 years. Unlike the others, Simple Media learned about my company and developed a structured strategy that they could easily communicate to me. They demonstrated the campaign adjustments they made, could explain why and showed the effect.</div>
                        <div class="font-f-sansation">
                            <div class="font-c-teal1 margin-b-10">Brookes Ebetsch</div>
                            <div class="font-s-xs">Executive Director</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="testimonial">
                <div class="row">
                    <div class="col-xs-12 col-sm-5 col-md-4">
                        <div class="testimonial__quote center-block margin-b-50"><img src="/img/quote.svg"></div>
                        <div class="testimonial__img-wrap center-block margin-b-50"> <img class="testimonial__img testimonial__img-kickbox" src="/img/logo-kickbox.svg"> </div>
                    </div>
                    <div class="col-xs-12 col-sm-7 col-md-8">
                        <div class="margin-b-50">Simple Media has been able to pick up a rather complicated account, with many moving pieces, and a high ad budget, and totally turn around our advertising strategy!</div>
                        <div class="font-f-sansation">
                            <div class="font-c-teal1 margin-b-10">Jessica Martinez</div>
                            <div class="font-s-xs">Marketing Director</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="testimonial">
                <div class="row">
                    <div class="col-xs-12 col-sm-5 col-md-4">
                        <div class="testimonial__quote center-block margin-b-50"><img src="/img/quote.svg"></div>
                        <div class="testimonial__img-wrap center-block margin-b-50"> <img class="testimonial__img" src="/img/logo-optimalblue.svg"> </div>
                    </div>
                    <div class="col-xs-12 col-sm-7 col-md-8">
                        <div class="margin-b-50">The Simple Media team was able to take our AdWords campaign and completely restructure it, giving us better results for the same budget, while decreasing our Cost Per Acquisition.</div>
                        <div class="font-f-sansation">
                            <div class="font-c-teal1 margin-b-10">Mike Maccioli</div>
                            <div class="font-s-xs">Vice President of Marketing</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- testimonials -->
{{> footer }}