{{> header }}
{{> navigation }}

<!-- account info -->
<div class="padding-t-100 padding-b-100 background-c-grey4">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
                <div class="heading font-f-simplifica margin-b-20">Privacy Policy</div>
                <p><a href="" class="font-w-700">http://www.simplemedia.co/</a> <br>This privacy policy has been compiled to better serve those who are concerned with how their ‘Personally identifiable information’ (PII) is being used online. PII, as used in US privacy law and information security, is information that can be used on its own or with other information to identify, contact, or locate a single person, or to identify an individual in context. Please read our privacy policy carefully to get a clear understanding of how we collect, use, protect or otherwise handle your Personally Identifiable Information in accordance with our website.</p>
                <p class="font-f-sansation">What personal information do we collect from the people that visit our blog, website or app?</p>
                <p>When ordering or registering on our site, as appropriate, you may be asked to enter your name, email address, phone number or other details to help you with your experience.</p>
                <p class="font-f-sansation">When do we collect information?</p>
                <p>We collect information from you when you register on our site, subscribe to a newsletter, fill out a form or enter information on our site.</p>
                <p class="font-f-sansation">How do we use your information?</p>
                <p>We may use the information we collect from you when you register, make a purchase, sign up for our newsletter, respond to a survey or marketing communication, surf the website, or use certain other site features in the following ways:</p>
                <ul>
                    <li>To improve our website in order to better serve you.</li>
                    <li>To allow us to better service you in responding to your customer service requests.</li>
                    <li>To send periodic emails regarding your order or other products and services.</li>
                </ul>
                <p class="font-f-sansation">How do we protect visitor information?</p>
                <p>Our website is scanned on a regular basis for security holes and known vulnerabilities in order to make your visit to our site as safe as possible.</p>
                <p>We use regular Malware Scanning.</p>
                <p>We do not use an SSL certificate</p>
                <ul>
                    <li>We only provide articles and information. We never ask for personal or private information like email addresses, or credit card numbers.</li>
                </ul>
                <p class="font-f-sansation">Do we use ‘cookies’?</p>
                <p>Yes. Cookies are small files that a site or its service provider transfers to your computer’s hard drive through your Web browser (if you allow) that enables the site’s or service provider’s systems to recognize your browser and capture and remember certain information. For instance, we use cookies to help us remember and process the items in your shopping cart. They are also used to help us understand your preferences based on previous or current site activity, which enables us to provide you with improved services. We also use cookies to help us compile aggregate data about site traffic and site interaction so that we can offer better site experiences and tools in the future.</p>
                <p class="font-f-sansation">We use cookies to:</p>
                <ul>
                    <li>Understand and save user’s preferences for future visits.</li>
                    <li>Keep track of advertisements.</li>
                    <li>Compile aggregate data about site traffic and site interactions in order to offer better site experiences and tools in the future. We may also use trusted third-party services that track this information on our behalf. You can choose to have your computer warn you each time a cookie is being sent, or you can choose to turn off all cookies. You do this through your browser (like Internet Explorer) settings. Each browser is a little different, so look at your browser’s Help menu to learn the correct way to modify your cookies.</li>
                </ul>
                <p>If you disable cookies off, some features will be disabled It won’t affect the user’s experience that make your site experience more efficient and some of our services will not function properly. However, you can still place orders.</p>
                <p class="font-f-sansation">Third-party disclosure</p>
                <p>We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information.</p>
                <p class="font-f-sansation">Third-party links</p>
                <p>We do not include or offer third-party products or services on our website.</p>
                <p class="font-f-sansation">Google</p>
                <p>Google’s advertising requirements can be summed up by Google’s Advertising Principles. They are put in place to provide a positive experience for users. https://support.google.com/adwordspolicy/answer/1316548?hl=en</p>
                <p>We use Google AdSense Advertising on our website. Google, as a third-party vendor, uses cookies to serve ads on our site. Google’s use of the DART cookie enables it to serve ads to our users based on previous visits to our site and other sites on the Internet. Users may opt-out of the use of the DART cookie by visiting the Google Ad and Content Network privacy policy.</p>
                <p class="font-f-sansation">We have implemented the following:</p>
                <ul>
                    <li>Remarketing with Google AdSense</li>
                    <li>Google Display Network Impression Reporting</li>
                    <li>Demographics and Interests Reporting</li>
                </ul>
                <p>We along with third-party vendors, such as Google use first-party cookies (such as the Google Analytics cookies) and third-party cookies (such as the DoubleClick cookie) or other third-party identifiers together to compile data regarding user interactions with ad impressions and other ad service functions as they relate to our website.</p>
                <p>Opting out: <br>Users can set preferences for how Google advertises to you using the Google Ad Settings page. Alternatively, you can opt out by visiting the Network Advertising initiative opt out page or permanently using the Google Analytics Opt Out Browser add on.</p>
                <p class="font-f-sansation">California Online Privacy Protection Act</p>
                <p>CalOPPA is the first state law in the nation to require commercial websites and online services to post a privacy policy. The law’s reach stretches well beyond California to require a person or company in the United States (and conceivably the world) that operates websites collecting personally identifiable information from California consumers to post a conspicuous privacy policy on its website stating exactly the information being collected and those individuals with whom it is being shared, and to comply with this policy. – See more at: http://consumercal.org/california-online-privacy-protection-act-caloppa/#sthash.0FdRbT51.dpuf</p>
                <p class="font-f-sansation">According to CalOPPA we agree to the following:</p>
                <p>Users can visit our site anonymously. Once this privacy policy is created, we will add a link to it on our home page or as a minimum on the first significant page after entering our website. Our Privacy Policy link includes the word ‘Privacy’ and can be easily be found on the page specified above.</p>
                <p>Users will be notified of any privacy policy changes:</p>
                <ul>
                    <li>On our Privacy Policy Page</li>
                </ul>
                <p>Users are able to change their personal information:</p>
                <ul>
                    <li>By emailing us</li>
                    <li>By calling us</li>
                </ul>
                <p class="font-f-sansation">How does our site handle do not track signals?</p>
                <p>We honor do not track signals and do not track, plant cookies, or use advertising when a Do Not Track (DNT) browser mechanism is in place.</p>
                <p class="font-f-sansation">Does our site allow third-party behavioral tracking?</p>
                <p>It’s also important to note that we allow third-party behavioral tracking</p>
                <p class="font-f-sansation">COPPA (Children Online Privacy Protection Act)</p>
                <p>When it comes to the collection of personal information from children under 13, the Children’s Online Privacy Protection Act (COPPA) puts parents in control. The Federal Trade Commission, the nation’s consumer protection agency, enforces the COPPA Rule, which spells out what operators of websites and online services must do to protect children’s privacy and safety online.</p>
                <p>We do not specifically market to children under 13.</p>
                <p class="font-f-sansation">Fair Information Practices</p>
                <p>The Fair Information Practices Principles form the backbone of privacy law in the United States and the concepts they include have played a significant role in the development of data protection laws around the globe. Understanding the Fair Information Practice Principles and how they should be implemented is critical to comply with the various privacy laws that protect personal information.</p>
                <p class="font-f-sansation">In order to be in line with Fair Information Practices we will take the following responsive action, should a data breach occur:</p>
                <p>We will notify the users via email</p>
                <ul>
                    <li>Within 7 business days</li>
                </ul>
                <p>We will notify the users via in-site notification</p>
                <ul>
                    <li>Within 7 business days</li>
                </ul>
                <p>We also agree to the Individual Redress Principle, which requires that individuals have a right to pursue legally enforceable rights against data collectors and processors who fail to adhere to the law. This principle requires not only that individuals have enforceable rights against data users, but also that individuals have recourse to courts or government agencies to investigate and/or prosecute non-compliance by data processors.</p>
                <p class="font-f-sansation">CAN SPAM Act</p>
                <p>The CAN-SPAM Act is a law that sets the rules for commercial email, establishes requirements for commercial messages, gives recipients the right to have emails stopped from being sent to them, and spells out tough penalties for violations.</p>
                <p class="font-f-sansation">We collect your email address in order to: <br>To be in accordance with CANSPAM we agree to the following:</p>
                <p><span class="font-w-700">If at any time you would like to unsubscribe from receiving future emails, you can email us at</span> and we will promptly remove you from <span class="font-w-700">ALL</span> correspondence.</p>
                <p class="font-f-sansation">Contacting Us</p>
                <p>If there are any questions regarding this privacy policy you may contact us using the information below.</p>
                <p>
                    <a href="http://www.simplemedia.co/" class="font-w-700">http://www.simplemedia.co/</a><br>
                    2242 Monitor Street #110 <br>
                    Dallas, TX 75207 <br>
                    USA
                </p>
                <p>
                    <a class="font-w-700" href="mailto:hello@simplemedia.co">hello@simplemedia.co</a><br>
                    <a class="font-w-700" href="tel:214-785-2420">214.785.2420</a><br>
                    Last Edited on 03-02-2016
                </p>
            </div>
        </div>
    </div>
</div>
<!-- account info -->

{{> footer }}