{{> header }}
{{> navigation }}

<!-- banner -->
<div class="banner background-c-teal1">
    <div class="banner__wrap container">
        <div class="banner__wrap-nav">
            <div class="banner__item">
                <div class="banner__label font-f-sansation font-c-white">Process</div>
                <div class="banner__title font-f-simplifica font-c-white">Our simple process</div>
            </div>
        </div>
    </div>
    <img class="banner__img" src="/img/banner-process.svg">
    <div class="banner__scroll">
        <svg class="icon icon--xl icon__white icon--scroll" width="24" height="24" viewBox="0 0 24 24">
            <path d="M5.116 20.513h13.677V2.881H5.116z"/>
            <path class="icon--scroll__line" d="M11.955 5.718v4.384"/>
        </svg>
    </div>
</div>
<!-- banner -->

<div class="process scroll-target">
    <div class="container">
        <div class="row process__branding">
            <div class="col-xs-12 col-md-6 process__img">
                <img src="/img/process_01.jpg">
            </div>
            <div class="col-xs-12 col-md-6 process__content">
                <h3 class="font-f-simplifica font-s-xxxl process__title">Challenges with Branding and Identity</h3>
                <div class="process__step padding-l-20">
                    <div class="process__step-item margin-t-20">
                        <span class="font-c-teal1 font-f-sansation margin-r-30">#1</span>
                        <div>Mistaking a logo as equivalent to a brand</div>
                    </div>
                    <div class="process__step-item margin-t-20">
                        <span class="font-c-teal1 font-f-sansation margin-r-30">#2</span>
                        <div>Creating a brand that is not relevant to the target audience</div>
                    </div>
                    <div class="process__step-item margin-t-20">
                        <span class="font-c-teal1 font-f-sansation margin-r-30">#3</span>
                        <div>Jumping into the creative process before establishing a clearly defined brand strategy</div>
                    </div>
                </div>
                <div class="font-f-sansation margin-t-40 margin-b-40">Our process helps companies guarantee a powerful brand presence.</div>
                <div class="process__stepc padding-l-20">
                    <div class="process__stepc-item padding-b-20">
                        <span class="process__stepc-line"></span>
                        <div class="process__stepc-circle font-f-sansation margin-r-30">1</div>
                        <div>
                            <div class="font-f-sansation font-c-teal1 margin-b-10">Workshop</div>
                            <div>Addresses the 7 tenets of branding</div>
                        </div>
                    </div>
                    <div class="process__stepc-item padding-b-20">
                        <span class="process__stepc-line"></span>
                        <div class="process__stepc-circle font-f-sansation margin-r-30">2</div>
                        <div>
                            <div class="font-f-sansation font-c-teal1 margin-b-10">Articulation</div>
                            <div>Establishes identity and positioning</div>
                        </div>
                    </div>
                    <div class="process__stepc-item padding-b-20">
                        <div class="process__stepc-circle font-f-sansation margin-r-30">3</div>
                        <div>
                            <div class="font-f-sansation font-c-teal1 margin-b-10">Execution</div>
                            <div>Designs brand visuals &amp; guidelines</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row process__development">
            <div class="col-xs-12 col-md-6 process__content">
                <h3 class="font-f-simplifica font-s-xxxl process__title">Challenges with Web Design and Development</h3>
                <div class="process__step padding-l-20">
                    <div class="process__step-item margin-t-20">
                        <span class="font-c-teal1 font-f-sansation margin-r-30">#1</span>
                        <div>Failing to establish clear content strategy and purpose for having website</div>
                    </div>
                    <div class="process__step-item margin-t-20">
                        <span class="font-c-teal1 font-f-sansation margin-r-30">#2</span>
                        <div>Settling for poor user experience (including transition from desktop to mobile)</div>
                    </div>
                    <div class="process__step-item margin-t-20">
                        <span class="font-c-teal1 font-f-sansation margin-r-30">#3</span>
                        <div>Enduring endless frustration between client and agency during design process</div>
                    </div>
                </div>
                <div class="font-f-sansation margin-t-40 margin-b-40">Our process helps companies build and launch a successful website.</div>
                <div class="process__stepc padding-l-20">
                    <div class="process__stepc-item padding-b-20">
                        <span class="process__stepc-line"></span>
                        <div class="process__stepc-circle font-f-sansation margin-r-30">1</div>
                        <div>
                            <div class="font-f-sansation font-c-teal1 margin-b-10 process__stepc-item-sample">
                                <div class="margin-r-20">Discovery &amp; IA</div>
                                <a href="https://projects.invisionapp.com/share/6H98K8WWD#/200881193_Home" target="_blank" class="button-icon">
                                    <div class="button-icon__wrap">
                                        <svg class="icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                            <use class="icon__teal1" xlink:href="#ic-arrow-right" />
                                        </svg>
                                        <div class="button-icon__label font-f-sansation font-c-teal1 font-s-xs">View sample</div>
                                    </div>
                                </a>
                            </div>
                            <div>Examines how content applies to desktop and mobile and pioneers the exploration path of the site</div>
                        </div>
                    </div>
                    <div class="process__stepc-item padding-b-20">
                        <span class="process__stepc-line"></span>
                        <div class="process__stepc-circle font-f-sansation margin-r-30">2</div>
                        <div>
                            <div class="font-f-sansation font-c-teal1 margin-b-10">Copywriting</div>
                            <div>Establishes page anatomy and creates copy based on brand voice and objectives (engagement vs. conversions, etc)</div>
                        </div>
                    </div>
                    <div class="process__stepc-item padding-b-20">
                        <span class="process__stepc-line"></span>
                        <div class="process__stepc-circle font-f-sansation margin-r-30">3</div>
                        <div>
                            <div class="font-f-sansation font-c-teal1 margin-b-10 process__stepc-item-sample">
                                <div class="margin-r-20">Design &amp; Prototype</div>
                                <a href="/pdf/SimpleMedia_Overly_Wireframes_V.1.1.pdf" target="_blank" class="button-icon">
                                    <div class="button-icon__wrap">
                                        <svg class="icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                            <use class="icon__teal1" xlink:href="#ic-arrow-right" />
                                        </svg>
                                        <div class="button-icon__label font-f-sansation font-c-teal1 font-s-xs">View sample</div>
                                    </div>
                                </a>
                            </div>
                            <div>Creates user interface design and presents it on InvisionApp for prototyping, allowing seamless collaboration on revisions and changes</div>
                        </div>
                    </div>
                    <div class="process__stepc-item padding-b-20">
                        <span class="process__stepc-line"></span>
                        <div class="process__stepc-circle font-f-sansation margin-r-30">4</div>
                        <div>
                            <div class="font-f-sansation font-c-teal1 margin-b-10">Development</div>
                            <div>Develops the functionality of the website, including responsive HTML, cool scripts that animate the design, and a user-friendly content management system</div>
                        </div>
                    </div>
                    <div class="process__stepc-item padding-b-20">
                        <div class="process__stepc-circle font-f-sansation margin-r-30">5</div>
                        <div>
                            <div class="font-f-sansation font-c-teal1 margin-b-10">Testing &amp; Launch</div>
                            <div>Conducts final testing, implementation, and launch</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 process__img process__img--right">
                <img src="/img/process_02.jpg">
            </div>
        </div>

        <div class="row process__marketing">
            <div class="col-xs-12 col-md-6 process__img">
                <img src="/img/process_03.jpg">
            </div>
            <div class="col-xs-12 col-md-6 process__content">
                <h3 class="font-f-simplifica font-s-xxxl process__title">Challenges with Advertising and Lead Generation</h3>
                <div class="process__step padding-l-20">
                    <div class="process__step-item margin-t-20">
                        <span class="font-c-teal1 font-f-sansation margin-r-30">#1</span>
                        <div>Failing to establish clear objectives and KPIs (key performance indicators)</div>
                    </div>
                    <div class="process__step-item margin-t-20">
                        <span class="font-c-teal1 font-f-sansation margin-r-30">#2</span>
                        <div>Not clearly measuring ROI (return on investment)</div>
                    </div>
                </div>
                <div class="font-f-sansation margin-t-40 margin-b-40">Our process helps companies create and maintain valuable ad campaigns.</div>
                <div class="process__stepc padding-l-20">
                    <div class="process__stepc-item padding-b-20">
                        <span class="process__stepc-line"></span>
                        <div class="process__stepc-circle font-f-sansation margin-r-30">1</div>
                        <div>
                            <div class="font-f-sansation font-c-teal1 margin-b-10">Discover</div>
                            <div>Clearly defines objectives and KPIs (On existing campaigns, we also analyze data and formulate assumptions based on that data.)</div>
                        </div>
                    </div>
                    <div class="process__stepc-item padding-b-20">
                        <span class="process__stepc-line"></span>
                        <div class="process__stepc-circle font-f-sansation margin-r-30">2</div>
                        <div>
                            <div class="font-f-sansation font-c-teal1 margin-b-10">Formulate</div>
                            <div>Formulates a strategy and builds all assets to launch your campaign</div>
                        </div>
                    </div>
                    <div class="process__stepc-item padding-b-20">
                        <span class="process__stepc-line"></span>
                        <div class="process__stepc-circle font-f-sansation margin-r-30">3</div>
                        <div>
                            <div class="font-f-sansation font-c-teal1 margin-b-10">Test</div>
                            <div>Deploys a test budget and timeframe for the testing of your ad campaign</div>
                        </div>
                    </div>
                    <div class="process__stepc-item padding-b-20">
                        <span class="process__stepc-line"></span>
                        <div class="process__stepc-circle font-f-sansation margin-r-30">4</div>
                        <div>
                            <div class="font-f-sansation font-c-teal1 margin-b-10">Scale</div>
                            <div>Adds fuel to the fire and scales your ad campaign once a conversion model has been built</div>
                        </div>
                    </div>
                    <div class="process__stepc-item padding-b-20">
                        <div class="process__stepc-circle font-f-sansation margin-r-30">5</div>
                        <div>
                            <div class="font-f-sansation font-c-teal1 margin-b-10">Optimize</div>
                            <div>Maintains your ad campaign with A/B split testing, weekly optimization, and constant refining to produce a conversion baseline model</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- form -->

{{> footer }}