{{> header }}
{{> navigation }}
<!-- banner -->
<div class="banner background-c-teal1">
    <div class="banner__wrap container">
        <div class="banner__wrap-nav works">
            <div class="banner__item">
                <div class="banner__title font-f-simplifica font-c-white">{{ page.title }}</div>
            </div>
        </div>
    </div>
    <div class="banner__bg zoom30s"
         style="background: url({{page.metafield.thumbnail.imgix_url}}) no-repeat center / cover"></div>
    <div class="banner__scroll">
        <svg class="icon icon--xl icon__white icon--scroll" width="24" height="24" viewBox="0 0 24 24">
            <path d="M5.116 20.513h13.677V2.881H5.116z"/>
            <path class="icon--scroll__line" d="M11.955 5.718v4.384"/>
        </svg>
    </div>
</div>
<!-- banner -->
<!-- content -->
<div class="padding-t-100 padding-b-100">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                <div class="heading font-f-simplifica margin-b-30">{{page.title}}</div>
                <div class="font-s-m margin-b-30">
                    {{{page.content}}
                </div>
                <div class="font-f-sansation margin-b-30">
                    <div class="font-c-teal1">Services</div>
                    <div>
                        {{page.metafield.services.value}}
                    </div>
                    </div>
                <a href="http://{{page.metafield.url}}" class="button-icon">
                    <div class="button-icon__wrap">
                        <svg class="icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <use class="icon__teal1" xlink:href="#ic-arrow-right" />
                        </svg>
                        <div class="button-icon__label font-f-sansation font-c-teal1 font-s-xs">Launch Project</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- content -->

<!-- image -->
<div class="background-c-grey4 padding-t-50 padding-b-50">
    <div class="container">
        <div class="row">
            {{# page.metafield.images.children}}
            <div class="col-xs-12 col-sm-6 col-md-3 margin-b-40">
               <div class="aspect-ratio-1-1" style="background: url({{imgix_url}}) no-repeat
               center / cover"></div>
            </div>
            {{/ page.metafield.images.children}}
        </div>
    </div>
</div>
<!-- image -->

<!-- next project -->
<div class="project-nav">
    <div class="project-nav__label">
        <div class="font-s-xxxl font-f-simplifica font-c-white">Azzimato</div>
    </div>
    <div class="project-nav__link">
        <a href="<?php echo $baseURL; ?>works-azzimato.php" class="button-icon">
            <div class="button-icon__wrap">
                <svg class="icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <use class="icon__white" xlink:href="#ic-arrow-right" />
                </svg>
                <div class="padding-l-10 font-f-sansation font-c-white">
                    <div class="project-nav__link-label">Next Project</div>
                </div>
            </div>
        </a>
    </div>
</div>
<!-- next project -->

{{> footer }}