/**
 * HELPERS
 */

/**
 * Hidden
 */
.hidden { display: none !important; }

/**
 * Clearfix
 */
.clearfix { @include clearfix(); }

/**
 * Alignment
 */
.center-text { text-align: center; }
.right-text { text-align: right; }

.pull-left { float: left; }
.pull-right { float: right; }

.center-block { margin: 0 auto; }

.absolute-center {
	margin: auto;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

/**
 * Positioning
 */
.relative { position: relative; }
.absolute { position: absolute; }

/**
 * Aspect ratio
 */
.aspect-ratio-1-1 { @include aspect-ratio(1, 1); }
.aspect-ratio-1-2 { @include aspect-ratio(1, 2); }
.aspect-ratio-2-1 { @include aspect-ratio(2, 1); }
.aspect-ratio-2-4 { @include aspect-ratio(2, 4); }
.aspect-ratio-4-3 { @include aspect-ratio(4, 3); }

/**
 * full width images used in inner pages
 */
.full-width-responsive {
	height: 300px;
	width: 100%;
}

/**
 * Spacing
 */
$ten:			10px !default;
$twenty:		20px !default;
$thirty:		30px !default;
$forty:			40px !default;
$fifty:			50px !default;
$eighty:		80px !default;
$hundred:		100px !default;

/**
 * Margin spacing
 */
.margin-0 { margin: 0; }
.margin-10 { margin: $ten; }
.margin-20 { margin: $twenty; }
.margin-30 { margin: $thirty; }
.margin-50 { margin: $fifty; }
.margin-100 { margin: $hundred; }

// top margin spacing
.margin-t-10 { margin-top: $ten; }
.margin-t-20 { margin-top: $twenty; }
.margin-t-30 { margin-top: $thirty; }
.margin-t-40 { margin-top: $forty; }
.margin-t-50 { margin-top: $fifty; }
.margin-t-100 { margin-top: $hundred; }

// top margin negative spacing
.margin-t-n10 { margin-top: - $ten; }

// bottom margin spacing
.margin-b-10 { margin-bottom: $ten; }
.margin-b-20 { margin-bottom: $twenty; }
.margin-b-30 { margin-bottom: $thirty; }
.margin-b-40 { margin-bottom: $forty; }
.margin-b-50 { margin-bottom: $fifty; }
.margin-b-100 { margin-bottom: $hundred; }

// right margin spacing
.margin-r-10 { margin-right: $ten; }
.margin-r-20 { margin-right: $twenty; }
.margin-r-30 { margin-right: $thirty; }

// left margin spacing
.margin-l-10 { margin-left: $ten; }
.margin-l-20 { margin-left: $twenty; }
.margin-l-30 { margin-left: $thirty; }

// right margin negative spacing
.margin-r-n10 { margin-right: - $ten; }

.reset-margin { margin: 0; }

/**
 * Padding spacing
 */
.padding-10 { padding: $ten; }
.padding-20 { padding: $twenty; }
.padding-30 { padding: $thirty; }
.padding-50 { padding: $fifty; }
.padding-100 { padding: $hundred; }

// top padding spacing
.padding-t-10 { padding-top: $ten; }
.padding-t-20 { padding-top: $twenty; }
.padding-t-30 { padding-top: $thirty; }
.padding-t-50 { padding-top: $fifty; }
.padding-t-80 { padding-top: $eighty; }
.padding-t-100 { padding-top: $hundred; }

// bottom padding spacing
.padding-b-10 { padding-bottom: $ten; }
.padding-b-20 { padding-bottom: $twenty; }
.padding-b-30 { padding-bottom: $thirty; }
.padding-b-50 { padding-bottom: $fifty; }
.padding-b-100 { padding-bottom: $hundred; }

// left padding spacing
.padding-l-10 { padding-left: $ten; }
.padding-l-20 { padding-left: $twenty; }

// right padding spacing
.padding-r-10 { padding-right: $ten; }
.padding-r-20 { padding-right: $twenty; }
.padding-r-50 { padding-right: $fifty; }

.no-padding { padding: 0; }

/**
 * Background
 */
.background-c-teal1 { background-color: $teal1; }
.background-c-teal2 { background-color: $teal2; }
.background-c-teal3 { background-color: $teal3; }
.background-c-white { background-color: $white; }
.background-c-grey1 { background-color: $grey1; }
.background-c-grey3 { background-color: $grey3; }
.background-c-grey4 { background-color: $grey4; }

/**
 * z-index
 */
.z-index-100 { z-index: 100; }
.z-index-200 { z-index: 200; }

/**
 * img reset
 */
.fixed-bottom { display: block; }

/**
 * Flex helpers
 */
.flex { @include vendor(display, flex); }
.space-between { @include vendor(justify-content, space-between); }
.align-items-center { @include vendor(align-items, center); }

/**
 * Animations
 */
.illustration {
	.label {
		opacity: 0.9;
	}
}

/* This used to work for parent element of button divs */
/* But it is not enough now, below dont hide play button parent div */
*::-webkit-media-controls-panel {
	display: none !important;
	-webkit-appearance: none;
}

/* Old shadow dom for play button */
*::--webkit-media-controls-play-button {
	display: none !important;
	-webkit-appearance: none;
}

/* New shadow dom for play button */
/* This one works */
*::-webkit-media-controls-start-playback-button {
	display: none !important;
	-webkit-appearance: none;
}

// hides video play icon on IOS devices
video::-webkit-media-controls-start-playback-button {
	display: none !important;
	-webkit-appearance: none;
}

video::-webkit-media-controls {
	display: none !important;
}

.pulse {
	transform-origin: 50% 50%;
	animation: pulse 2s infinite ease-in-out;
}

.zoom30s {
	animation: zoom30s 30s infinite linear;
}

@keyframes zoom30s {
	0% {
		@include vendor(transform, scale(1));
	}

	50% {
		@include vendor(transform, scale(1.2));
	}

	100% {
		@include vendor(transform, scale(1));
	}
}

@keyframes pulse {
	0% {
		@include vendor(transform, scale(0.95));
	}

	25% {
		@include vendor(transform, scale(0.9));
	}

	50% {
		@include vendor(transform, scale(1));
	}

	75% {
		@include vendor(transform, scale(0.9));
	}

	100% {
		@include vendor(transform, scale(0.95));
	}
}

@-webkit-keyframes pulse {
	0% {
		@include vendor(transform, scale(0.95));
	}

	25% {
		@include vendor(transform, scale(0.9));
	}

	50% {
		@include vendor(transform, scale(1));
	}

	75% {
		@include vendor(transform, scale(0.9));
	}

	100% {
		@include vendor(transform, scale(0.95));
	}
}

.typed-cursor{
	opacity: 1;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}

@keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}

@-webkit-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}

@-moz-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}

// tablet view
@media (min-width: $lap-start) {
	.full-width-responsive {
		height: 510px;
	}
}