/**
 * MAIN
 */

body {
	color: $grey1;
	font-family: $base-font-family;
	font-size: $base-font-size;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

ul {
	list-style-type: initial;
	padding-left: 40px;
}